html, .Body {
	font-size: 20px;
}
.Box {
	width: 50px;
	height: 50px;
	background-color: silver;
}
@media (min-width: 600px) {
	.Box {
		background-color: red;
	}
}
@media (min-width: 50em) {
	.Box {
		background-color: green;
	}
}
