* {
	box-sizing: border-box;
}
*:after, *:before {
	box-sizing: inherit;
}
.Listing {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(12, 1fr);
}
.Title-box {
	background-color: indigo;
	color: white;
	padding: 20px;
	grid-column: 1 / -1;
	grid-row: 1;
}
.Feature-box {
	grid-column: 1 / -1;
	grid-row: 2;
}
.Feature-box .Image {
	grid-column: 1 / -1;
	grid-row: 1 / 4;
	max-width: 100%;
}
.Feature-box .Heading {
	grid-column: 4 / -1;
	grid-row: 1;
	padding: 20px;
}
.Feature-box .Content-box {
	grid-column: 3 / -1;
	grid-row: 2;
	padding: 20px;
}
@media (min-width: 53em) {
.Title-box {
	grid-column: 1 / 6;
	grid-row: 1;
}
.Feature-box {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column: 6 / -1;
	grid-row: 1 / 3;
}
.Feature-box .Image {
	grid-column: 1 / -1;
	grid-row: 1 / 4;
}
.Feature-box .Heading {
	background-color: black;
	color: white;
	grid-column: 4 / -1;
	grid-row: 1;
}
.Feature-box .Content-box {
	background-color: black;
	color: white;
	grid-column: 3 / -1;
	grid-row: 2;
}
}
@media (min-width: 75em) {
	.Title-box {
		grid-column: 1 / 4;
	}
	.Feature-box {
		grid-column: 4 / -1;
	}
}
