* {
	box-sizing: border-box;
}
*:before, *:after {
	box-sizing: inherit;
}
.Body {
	margin: 0;
	display: flex;
}
.Section {
	border: 1px solid rgba(0,0,0,.4);
	flex: 1 1 200px;
	padding: 10px;
	margin: 5px;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0,0,0,.15);
}
h2 {
	font-size: 1rem;
}
a {
	text-decoration: none;
	display: block;
	color: black;
}