* {
	box-sizing: border-box;
}
*:after, *:before {
	box-sizing: inherit;
}
.Body {
	margin:0;
}
.Header {
	background-color: rgba(0,0,200,1);
	padding: 1rem;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.Heading {
	font-size: 1rem;
	color: white;
	margin: 0;
}
.Canvas {
	margin: 20px auto;
	width: 90%;
	height: 200px;
	border: 1px solid silver;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	position: relative;
}
.Box {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: rgba(200,0,0,.8);
	left: 50%;
	transform: translateX(-50%);
	top: 50%;
	transform: translateY(-50%);


}
.Box1 {
	z-index: 4;
}

.Box2 {
	animation-name: animationTwo;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	z-index: 0;
	background-color: rgba(200,0,0,.8);

}
@keyframes animationTwo {
	0% {

	}
	50% {

	}
	100% {
		top: 30%;	
		transform: rotate(30deg);
		background-color: rgba(200,0,0,0);

	}
}
.Box3 {
	animation-name: animationThree;
	animation-iteration-count: infinite;
	animation-duration:2s;
	z-index: 3;
	background-color: rgba(200,0,0,.9);

}
@keyframes animationThree {
	0% {

	}
	100% {
		top:20%;
		transform: rotate(30deg);
	}
}
.Box4 {
	animation-name: animationFour;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	z-index: -1;
	background-color: rgba(200,0,0,.8);

}
@keyframes animationFour {
	0% {

	}
	80% {
		background-color: rgba(200,0,0,0);

	}
	100% {
		top: 25%;
		transform: rotate(30deg);
		background-color: rgba(200,0,0,0);
	}
}
.Box5 {
	background-color: rgba(0,200,0,1);
	animation-name: animationFive;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes animationFive {
	0% {

	}
	100% {
		left: 40%;
		top: 60%;
		transform: rotate(180deg);
	}
}
.Box6 {
	background-color: rgba(0,0,200,1);
	animation-name: animationSix;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes animationSix {
	0% {

	}
	100% {
		left: 45%;
		top: 40%;
		transform: rotate(90deg);
	}
}
