
* {
	box-sizing: border-box;
}
*:after, *:before {
	box-sizing: inherit;
}
body {
	border:1px solid black;
	font-size: 0;
	font-family: sans-serif;
	font-weight: 100;
	border-radius: 5px;
	display:flex;
}
.LeftSide {
	width:50%;
	display:inline-block;
	font-size:1rem;
	text-align: center;
	background: linear-gradient(45deg, rgb(28, 8, 12), rgb(110, 35, 71));
	position: relative;
}

.Mars {
	background-image: url(http://localhost:3000/images/mars.png);
	background-position: -10px;
	height:182px;
	width:182px;
	border-radius: 100px;
	box-shadow: 2px 0px 2px rgba(0,0,0,.6);
	margin: 3rem auto;
}
.Header {
	color: rgb(196, 65, 0);
	font-weight: 100;
	letter-spacing: 27px;
	text-transform: uppercase;
	font-size: 1.1rem;
	margin-bottom:4rem;
}
.Star {
	position:absolute;
	border-radius: 5px;
	background-color: white;
}
.SmallStar {
	top: 20px;	
	width: 6px;
	height: 6px;
}
.MediumStar {
	width: 8px;
	height: 8px;

}
.BigStar {
	width: 11px;
	height: 11px;
	border-radius: 10px;	
}
.Star1 {
	left:20px;
}
.Star2 {
	left:20px;
	bottom: 130px;
}
.Star3 {
	bottom: 8%;
	left:30px;
}
.Star4 {
	right: 150px;
}
.Star5 {
	top: 28%;
	left: 30px;
}
.Star6 {
	top: 20%;
	right:20%;
}
.Star7 {
	right: 20%;
	top:50%;
}
.Star8 {
	bottom: 20px;
	right: 80px;
}
.FallingStar {
	width:60px;
	height:2px;
	background-color: white;
	position: absolute;
	
	background: linear-gradient(90deg, rgba(255, 255, 255, .5), rgba(0,0,0,0.2));
	transform: rotate(-35deg);
}
.FallingStar1 {
	top: 60px;
	left: 10px;
}
.FallingStar2 {
	top: 130px;
	right: 80px;
}
.Form {
	width:50%;
	display:inline-block;
	font-size: 1rem;
	text-align: center;
	background: linear-gradient(-150deg, rgb(196, 65, 0),rgb(100, 25, 61) );
	text-align: center;

}
.Form > * {

	display:inline-block;

}
.InputField {
	font-size:1rem;
	letter-spacing: 1px;
	color:white;
	font-weight: 100;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	width: 65%;
	margin: 1rem;
	padding:.4rem 0;
}
::placeholder {
	color:white;
}
.Name {
	margin-top:4rem;
}
.Password {

}
.FormButton {
	font-size: 1.2rem;
	padding: 10px 40px;
	background-color: transparent;
	border:1px solid rgba(255, 255, 255, .5);
	border-radius: 2px;
	color: white;
	letter-spacing: 2px;
	font-size: .9rem;
	margin:10px;
}
.Signin {
	
}
.Signup {

}
.Forgot {
	margin-top: 3rem;
	color:rgba(255, 255, 255, .8);
	text-decoration: none;
	font-size:.9rem;
	display:block;
	letter-spacing: 1px;
}
