<header class="Header">
	<h2 class="Heading">Glossar</h2>
</header>
<main class="Main">
	<table class="Table">
		<tr>
			<td>animation-timing-function</td><td>describes how an animation should progress over each cycle</td>
		</tr>
		<tr>
			<td>cubic-bezier(x1, y1, x2, y2)</td><td>Was bedeuten die Werte?</td>
		</tr>
		<tr>
			<td>steps(number of steps, direction)</td><td></td>
		</tr>
		<tr>
			<td>animation</td><td>shorthand property</td>
		</tr>
		<tr>
			<td>animation-delay</td><td>specifies when an animation should start</td>
		</tr>
		<tr>
			<td>animation-direction</td><td>indicates whether the animation should play in reverse or alternate cycles</td>
		</tr>
		<tr>
			<td>animation-duration</td><td>length of time the animation should take to complete on cycle</td>
		</tr>
		<tr>
			<td>animation-fill-mode</td><td>specifies how a css animation should apply styles to it's target before and after it is executing</td>
		</tr>
		<tr>
			<td>animation-iteration-count</td><td>number of times an animation cycle should be played</td>
		</tr>
		<tr>
			<td>animation-name</td><td>a list of animations that should be applied to the selected element</td>
		</tr>
		<tr>
			<td>animation-play-state</td><td>determines whether an animation is running or paused</td>
		</tr>
	</table>
	<table class="Table VisualFormatingTable">
		<tr>
			<td>left</td><td>specifies the distance between the left margin edge of the element and the left edge of it's containing block</td>
		</tr>
		<tr>
			<td>line-height</td><td>specifies the minimum height of line boxes within the element</td>
		</tr>
		<tr>
			<td>right</td><td>it specifies the distance between the right margin edge of the element and the right edge of its containing block.</td>
		</tr>
		<tr>
			<td>top</td><td>For absolutely positioned elements (those with position: absolute or position: fixed), it specifies the distance between the top margin edge of the element and the top edge of its containing block.</td>
		</tr>
		<tr>
			<td>vertical-align</td><td>specifies the veritcal alignment of an inline or table-cell box</td>
		</tr>
		<tr>
			<td>z-index</td><td>specifies the z-order of a positioned element and its descendants</td>
		</tr>
		<tr>
			<td></td><td></td>
		</tr>
	</table>
	<table class="Table TransitionTable">
		<tr>
			<td>transition-delay</td><td>The transition-delay CSS property specifies the amount of time to wait between a change being requested to a property that is to be transitioned and the start of the transition effect.</td>
		</tr>
		<tr>
			<td>transition-duration</td><td>specifies the time the transition should take to complete</td>
		</tr>
		<tr>
			<td>transition-property</td><td>specifies the names of CSS properties to which a transition effect should be applied</td>
		</tr>
		<tr>
			<td>transition-timing-function</td><td>describes how the intermediate value of css properties are calculated</td>
		</tr>
	</table>
	<table class="Table BackgroundTable">
		<tr>
			<td>background</td><td>shorthand property</td>
		</tr>
		<tr>
			<td>background-attachment</td><td>If a background-image is specified, the background-attachment CSS property determines whether that image's position is fixed within the viewport, or scrolls along with its containing block.</td>
		</tr>
		<tr>
			<td>background-clip</td><td>specifies whether an element's background, either the color or image, extends underneath its border</td>
		</tr>
		<tr>
			<td>background-color</td><td>sets the background color of an element</td>
		</tr>
		<tr>
			<td>background-image</td><td>sets one or several background images for an element</td>
		</tr>
		<tr>
			<td>background-origin</td><td>determines the positiong of the origin of an image </td>
		</tr>
		<tr>
			<td>background-position</td><td>set the initial position for each defined background image, relative to the background position layer defined by background-origin</td>
		</tr>
		<tr>
			<td>background-position-x</td><td>set the initial horizontal position, relative to the background position layer defined by background-origin</td>
		</tr>
		<tr>
			<td>background-position-y</td><td>sets the initial vertical position, relative to the background position defined by background-origin for each defined background image</td>
		</tr>
		<tr>
			<td>background-repeat</td><td>defines how background images are repeated</td>
		</tr>
		<tr>
			<td>background-size</td><td>specifies the size of the background images</td>
		</tr>
	</table>
	<table class="Table BorderTable">
		<tr>
			<td>border</td><td>shorthand property</td>
		</tr>
		<tr>
			<td>border-bottom</td><td>shorthand property</td>
		</tr>
		<tr>
			<td>border-bottom-color</td><td>sets the color of the bottom border of an element</td>
		</tr>
		<tr>
			<td>border-bottom-left-radius</td><td>sets the rounding of the bottom-left of the element</td>
		</tr>
		<tr>
			<td>border-bottom-style</td><td>sets the line style of the bottom border</td>
		</tr>
		<tr>
			<td>border-bottom-width</td><td>sets the width of the bottom border of a box</td>
		</tr>
		<tr>
			<td>border-color</td><td> shorthand for setting the color of the four sides of an element's border</td>
		</tr>
		<tr>
			<td>border-image</td><td>allows drawing an image on the borders of elements</td>
		</tr>
		<tr>
			<td>border-image-outset</td><td>describes by what amount the border image area extends beyond the border box</td>
		</tr>
		<tr>
			<td>border-image-repeat</td><td> defines how the middle part of a border image is handled so that it can match the size of the border</td>
		</tr>
		<tr>
			<td>border-image-slice</td><td>divides the image specified by border-image-source in nine regions</td>
		</tr>
		<tr>
			<td>border-image-source</td><td> defines the <image> to use instead of the style of the border</td>
		</tr>
		<tr>
			<td>border-image-width</td><td>defines the width of the border image by defining inward offsets from the border edges</td>
		</tr>
		<tr>
			<td>border-left</td><td>shorthand property that sets the values of border-left-color, border-left-style, and border-left-width</td>
		</tr>
		<tr>
			<td>border-left-color</td><td>sets the color of the left border of an element</td>
		</tr>
		<tr>
			<td>border-left-style</td><td>sets the line style of the left border of a box.</td>
		</tr>
		<tr>
			<td>border-left-width</td><td>sets the width of the left border of a box</td>
		</tr>
		<tr>
			<td>border-radius</td><td> allows Web authors to define how rounded border corners are</td>
		</tr>
		<tr>
			<td>border-right</td><td>The border-right CSS property is a shorthand that sets the values of border-right-color, border-right-style, and border-right-width</td>
		</tr>
		<tr>
			<td>border-right-color</td><td>sets the color of the right border of an element</td>
		</tr>
		<tr>
			<td></td><td></td>
		</tr>
		<tr>
			<td></td><td></td>
		</tr>
		<tr>
			<td></td><td></td>
		</tr>
	</table>