<header class="Header">
	<h2 class="Heading">Animation Glossar</h2>
</header>
<main class="Main">
	<table class="Table">
		<tr>
			<td>animation-timing-function</td><td>describes how an animation should progress</td>
		</tr>
		<tr>
			<td>cubic-bezier(x1, y1, x2, y2)</td><td>Was bedeuten die Werte?</td>
		</tr>
		<tr>
			<td>steps(number of steps, direction)</td><td></td>
		</tr>

</section>