<h1>CSS Blank</h1>
<div class="Listing">
	<div class="TitleBox">
		<h2 class="Heading">This is a title</h2>
		<p>This is the introductory text for this section of the site.</p>
	</div>
	<div class="FeatureBox">
		<img class="Image" src="http://placehold.it/900x450">
		<h2 class="Heading">Featured Item</h2>
		<div class="Content">
			<p>The first, therefore usually the latest but could be flagged as a feature, item is the feature. This item gets a big spot up next to the title of this section.</p>
			<p>It might have an image too. It's special like that.</p>
		</div>
	</div>
	<div class="new-item">
		<h2 class="Heading">New Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a larger box. We can show additional content for these items.
		</p>
	</div>
	<div class="new-item">
		<h2 class="Heading">New Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a larger box. We can show additional content for these items.
		</p>
	</div>
	<div class="new-item">
		<h2 class="Heading">New Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a larger box. We can show additional content for these items.
		</p>
	</div>
	<div class="new-item media-item">
		<img class="ItemMedia" src="http://placehold.it/500x350">
		<h2 class="Heading">New Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a larger box. We can show additional content for these items.
		</p>
	</div>
	<div class="new-item">
		<h2 class="Heading">New Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a larger box. We can show additional content for these items.
		</p>
	</div>	
	<div class="new-item">
		<h2 class="Heading">New Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a larger box. We can show additional content for these items.
		</p>
	</div>
	<div class="old-item">
		<h2 class="Heading">Old Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a smaller box. We can show additional content for these items.
		</p>
	</div>
	<div class="old-item">
		<h2 class="Heading">Old Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a smaller box. We can show additional content for these items.
		</p>
	</div>
	<div class="old-item">
		<h2 class="Heading">Old Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a smaller box. We can show additional content for these items.
		</p>
	</div>
	<div class="old-item">
		<h2 class="Heading">Old Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a smaller box. We can show additional content for these items.
		</p>
	</div>
	<div class="old-item">
		<h2 class="Heading">Old Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a smaller box. We can show additional content for these items.
		</p>
	</div>
	<div class="old-item">
		<h2 class="Heading">Old Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a smaller box. We can show additional content for these items.
		</p>
	</div>
	<div class="old-item">
		<h2 class="Heading">Old Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a smaller box. We can show additional content for these items.
		</p>
	</div>
	<div class="old-item">
		<h2 class="Heading">Old Item</h2>
		<p class="Content">
			The newer items or next in priority after the feature are displayed in a smaller box. We can show additional content for these items.
		</p>
	</div>
</div>