
<p>Source Independece</p>
<div class="Example13">
	<div class="Abox">In our urban and suburban houses what should we do without cats? In our sitting or bedrooms, our libraries, in our kitchens and storerooms, our farms, barns, and rickyards, in our docks, our granaries, our ships, and our wharves, in our corn markets, meat markets, and other places too numerous to mention, how useful they are! In our ships, however, the rats oft set them at defiance; still they are of great service.</div>
	<div class="Bbox">How wonderfully patient is the cat when watching for rats or mice, awaiting their egress from their place of refuge or that which is their home! How well Shakespeare in Pericles, Act iii., describes this keen attention of the cat to its natural pursuit!</div>
	<div class="Cbox">A slight rustle, and the fugitive comes forth; a quick, sharp, resolute motion, and the cat has proved its usefulness. Let any one have a plague of rats and mice, as I once had, and let them be delivered therefrom by cats, as I was, and they will have a lasting and kind regard for them.</div>
	<div class="Box Add1"> Advert!</div>
	<div class="Box Add2"> Advert!</div>
</div>
<p>Layering items</p>
<div class="Example14">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
	<div class="Box Ebox">E</div>
	<div class="Box Fbox">F</div>
</div>
<p>A grid item as a new positioning context</p>
<div class="Example15">
	<div class="Box Header">Header</div>
	<div class="Box Sidebar">Sidebar</div>
	<div class="Box Content">Content<br>The four arrows are inline images inside the content area.
	<img src="http://gridbyexample.com/examples/code/arrow-top-left.png" alt="top left" class="topleft" />
	<img src="http://gridbyexample.com/examples/code/arrow-top-right.png" alt="top right" class="topright" />
  <img src="http://gridbyexample.com/examples/code/arrow-bottom-left.png" alt="bottom left" class="bottomleft" />
  <img src="http://gridbyexample.com/examples/code/arrow-bottom-right.png" alt="bottom right" class="bottomright" /></div>
	<div class="Box Footer">Footer</div>
</div>
<p>grid auto-placement</p>
<div class="Example16">
	<div class="Box">1</div>
	<div class="Box">2</div>
	<div class="Box">3</div>
	<div class="Box">4</div>
	<div class="Box">5</div>
	<div class="Box">6</div>
	<div class="Box">7</div>
	<div class="Box">8</div>
	<div class="Box">9</div>
	<div class="Box">10</div>
	<div class="Box">11</div>
	<div class="Box">12</div>
</div>
<p>grid auto-flow column</p>
<div class="Example17">
	<div class="Box">1</div>
	<div class="Box">2</div>
	<div class="Box">3</div>
	<div class="Box">4</div>
	<div class="Box">5</div>
	<div class="Box">6</div>
	<div class="Box">7</div>
	<div class="Box">8</div>
	<div class="Box">9</div>
	<div class="Box">10</div>
	<div class="Box">11</div>
	<div class="Box">12</div>
</div>
