<h2>CSS Blank</h2>
<div class="Listing">
	<div class="Title-box">
		<h2 class="Heading">This is a title</h2>
		<p class="Content">This is the introductory text for this section of the site.</p>
	</div>
	<div class="Feature-box">
		<img class="Image" src="http://placehold.it/900x450">
		<h2 class="Heading">Featured Item</h2>
		<div class="Content-box">
			<p>The first, therefore usually the latest but could be flagged as a feature, item is the feature. This item gets a big spot up next to the title of this section</p>
			<p>
				It might have an image too. It's special like that.
			</p>
		</div>
	</div>
</div>


