<h1>CSS Generator</h1>
<h2>Aufgabe 1</h2>
<span class="Frage">Warum kann man die Weite beim letzten Keyframe nicht auf initial setzten?</span>
<span class="Frage">Warum lässt sich die Weite nicht animieren?</span>
<div class="Box"></div>
<h2>Aufgabe 2</h2>
<div class="Box1"></div>
<h2>Aufgabe 3</h2>
<div class="Box3"></div>
<h2>Aufgabe 4</h2>
<div class="Box4"></div>
