<img class="FlyingCar" src="images/flyingcar.png" alt="flying car">
<div class="Background">

	<img class="FlyingCarAndGlobe" src="images/flyingcarandglobe.png" alt="flying car and globe">
	<form class="Form" action="" method="POST">
		<a href="#" class="BackButton">&lt; Back</a>
		<h2 class="FormHeading">Create an Account</h2>
		<i class="fa fa-sign-in" aria-hidden="true">Sign In</i>
	
		<label class="Label FirstNameLabel" for="FirstName">Firstname</label>
		<input class="Input FirstNameInput" id="FirstName" placeholder="First Name" >
	
		<label class="Label LastNameLabel" for="LastName">LastName</label>
		<input class="Input LastNameInput" id="LastName" placeholder="Last Name">
	
		<label class="Label EmailLabel" for="Email">Email</label>
		<input class="Input EmailInput" id="Email" placeholder="E-Mail">

		<label class="Label PasswordLabel" for="Password">Password</label>
		<input type="password" class="Input PasswordInput" id="Password" placeholder="Password">
		
		<input type="submit" class="SignUpButton" value="Sign Up">

		<input type="submit" class="SignUpFacebookButton" value="Sign up with Facebook">

		<span class="AgreementText">By signing up you agree <br><a href="#" class="TermsLink">Terms &amp; Conditions</a> and <a href="#" class="PrivacyLink">Privacy Policy</a></span>
	</form>
</div>