<h2>Grid By Example</h2>
<a href="http://gridbyexample.com/">Link</a>
<h2>Fragen</h2>
<span class="Frage">Welche Reihenfolge hat die property grid-area</span>
<span class="Frage">Wie kann man die Elemente automatisch positionieren?</span>
<h2>Intro</h2>
<ul>
	<li>Grid Layout, Flexbox and the Box Alignment Module will become part of modern layout systems for web apps</li>
</ul>
<p>Defining the Grid</p>
<div class="Example1">
	<div class="Box Box1">A</div>
	<div class="Box Box2">B</div>
	<div class="Box Box3">C</div>
	<div class="Box Box4">D</div>
	<div class="Box Box5">E</div>
	<div class="Box Box6">F</div>
</div>
<p>Line-based placement</p>
<ul>
	<li>If an item will only span ohne grid track you may omit the -end value</li>
	<li>Start and end values can be declared at once using the shorthand syntax grid-row or grid-column</li>
	<li>Another alternative is the grid-area shorthand the order of the value is row-start/column-start/row-end/column-end</li>
</ul>
<div class="Example2">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
	<div class="Box Ebox">E</div>
	<div class="Box Fbox">F</div>
</div>
<p>Line-based placement shorthand grid-area</p>
<div class="Example3">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
	<div class="Box Ebox">E</div>
	<div class="Box Fbox">F</div>
</div>
<p>Line-base placement spanning tracks</p>
<ul>
	<li>To create Grid areas that is larger than a single grid track we specify an end line that is more than one track away</li>
</ul>
<div class="Example4">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
</div>
