<h2>Grid By Example</h2>
<a href="http://gridbyexample.com/">Link</a>
<h2>Fragen</h2>
<span class="Frage">Welche Reihenfolge hat die property grid-area</span>
<span class="Frage">Wie kann man die Elemente automatisch positionieren?</span>
<h2>Intro</h2>
<ul>
	<li>Grid Layout, Flexbox and the Box Alignment Module will become part of modern layout systems for web apps</li>
</ul>
<p>Defining the Grid</p>
<div class="Example1">
	<div class="Box Box1">A</div>
	<div class="Box Box2">B</div>
	<div class="Box Box3">C</div>
	<div class="Box Box4">D</div>
	<div class="Box Box5">E</div>
	<div class="Box Box6">F</div>
</div>
<p>Line-based placement</p>
<ul>
	<li>If an item will only span ohne grid track you may omit the -end value</li>
	<li>Start and end values can be declared at once using the shorthand syntax grid-row or grid-column</li>
	<li>Another alternative is the grid-area shorthand the order of the value is row-start/column-start/row-end/column-end</li>
</ul>
<div class="Example2">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
	<div class="Box Ebox">E</div>
	<div class="Box Fbox">F</div>
</div>
<p>Line-based placement shorthand grid-area</p>
<div class="Example3">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
	<div class="Box Ebox">E</div>
	<div class="Box Fbox">F</div>
</div>
<p>Line-base placement spanning tracks</p>
<ul>
	<li>To create Grid areas that is larger than a single grid track we specify an end line that is more than one track away</li>
</ul>
<div class="Example4">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
</div>
<p>Line-based placement named lines</p>
<div class="Example6">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
</div>
<p>Line-based placement named lines with spans</p>
<div class="Example7">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
	<div class="Box Ebox">E</div>
</div>
<p>Using repeat notation</p>
<div class="Example8">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
	<div class="Box Ebox">E</div>
</div>
<p>Explicit and Implicit Grid</p>
<div class="Example9">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
	<div class="Box Ebox">E</div>
</div>
<p>Defining Grid Areas</p>
<div class="Example11">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
</div>
<p>Defining Grid Areas with Media Queries</p>
<div class="Example12">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
	<div class="Box Ebox">E</div>
</div>
<div class="Example13">
	<div class="Abox">In our urban and suburban houses what should we do without cats? In our sitting or bedrooms, our libraries, in our kitchens and storerooms, our farms, barns, and rickyards, in our docks, our granaries, our ships, and our wharves, in our corn markets, meat markets, and other places too numerous to mention, how useful they are! In our ships, however, the rats oft set them at defiance; still they are of great service.</div>
	<div class="Bbox">How wonderfully patient is the cat when watching for rats or mice, awaiting their egress from their place of refuge or that which is their home! How well Shakespeare in Pericles, Act iii., describes this keen attention of the cat to its natural pursuit!</div>
	<div class="Cbox">A slight rustle, and the fugitive comes forth; a quick, sharp, resolute motion, and the cat has proved its usefulness. Let any one have a plague of rats and mice, as I once had, and let them be delivered therefrom by cats, as I was, and they will have a lasting and kind regard for them.</div>
	<div class="Box Add1"> Advert!</div>
	<div class="Box Add2"> Advert!</div>
</div>
<p>Source Independece</p>
<div class="Example13">
	<div class="Abox">In our urban and suburban houses what should we do without cats? In our sitting or bedrooms, our libraries, in our kitchens and storerooms, our farms, barns, and rickyards, in our docks, our granaries, our ships, and our wharves, in our corn markets, meat markets, and other places too numerous to mention, how useful they are! In our ships, however, the rats oft set them at defiance; still they are of great service.</div>
	<div class="Bbox">How wonderfully patient is the cat when watching for rats or mice, awaiting their egress from their place of refuge or that which is their home! How well Shakespeare in Pericles, Act iii., describes this keen attention of the cat to its natural pursuit!</div>
	<div class="Cbox">A slight rustle, and the fugitive comes forth; a quick, sharp, resolute motion, and the cat has proved its usefulness. Let any one have a plague of rats and mice, as I once had, and let them be delivered therefrom by cats, as I was, and they will have a lasting and kind regard for them.</div>
	<div class="Box Add1"> Advert!</div>
	<div class="Box Add2"> Advert!</div>
</div>
<p>Layering items</p>
<div class="Example14">
	<div class="Box Abox">A</div>
	<div class="Box Bbox">B</div>
	<div class="Box Cbox">C</div>
	<div class="Box Dbox">D</div>
	<div class="Box Ebox">E</div>
	<div class="Box Fbox">F</div>
</div>
<p>A grid item as a new positioning context</p>
<div class="Example15">
	<div class="Box Header">Header</div>
	<div class="Box Sidebar">Sidebar</div>
	<div class="Box Content">Content<br>The four arrows are inline images inside the content area.
	<img src="http://gridbyexample.com/examples/code/arrow-top-left.png" alt="top left" class="topleft" />
	<img src="http://gridbyexample.com/examples/code/arrow-top-right.png" alt="top right" class="topright" />
  <img src="http://gridbyexample.com/examples/code/arrow-bottom-left.png" alt="bottom left" class="bottomleft" />
  <img src="http://gridbyexample.com/examples/code/arrow-bottom-right.png" alt="bottom right" class="bottomright" /></div>
	<div class="Box Footer">Footer</div>
</div>
<p>grid auto-placement</p>
<div class="Example16">
	<div class="Box">1</div>
	<div class="Box">2</div>
	<div class="Box">3</div>
	<div class="Box">4</div>
	<div class="Box">5</div>
	<div class="Box">6</div>
	<div class="Box">7</div>
	<div class="Box">8</div>
	<div class="Box">9</div>
	<div class="Box">10</div>
	<div class="Box">11</div>
	<div class="Box">12</div>
</div>
<p>grid auto-flow column</p>
<div class="Example17">
	<div class="Box">1</div>
	<div class="Box">2</div>
	<div class="Box">3</div>
	<div class="Box">4</div>
	<div class="Box">5</div>
	<div class="Box">6</div>
	<div class="Box">7</div>
	<div class="Box">8</div>
	<div class="Box">9</div>
	<div class="Box">10</div>
	<div class="Box">11</div>
	<div class="Box">12</div>
</div>
<p>Grid auto-placement mixed with placed items</p>
<div class="Example18">
	<div class="Box">1</div>
	<div class="Box Box2">2</div>
	<div class="Box">3</div>
	<div class="Box">4</div>
	<div class="Box">5</div>
	<div class="Box">6</div>
	<div class="Box">7</div>
	<div class="Box">8</div>
	<div class="Box">9</div>
	<div class="Box">10</div>
	<div class="Box">11</div>
	<div class="Box">12</div>
</div>
<p>auto-fill keyword repeating track definitions</p>
<div class="Example19">
	<div class="Box Box1">A</div>
	<div class="Box Box2">B</div>
	<div class="Box Box3">C</div>
	<div class="Box Box4">D</div>
	<div class="Box Box5">E</div>
</div>
<p>Nested Grid</p>
<div class="Example20">
	<div class="Box Box1">A</div>
	<div class="Box Box2">B</div>
	<div class="Box Box3">C</div>
	<div class="Box Box4">
		<div class="Box Box5">E</div>
		<div class="Box Box6">F</div>
		<div class="Box Box7">G</div>
	</div>
</div>
<p>Implicit named grid lines</p>
<div class="Example21">
	<div class="Box Box1">Header</div>
	<div class="Box Box2">overlay</div>
	<div class="Box Box3">Sidebar</div>
</div>
<p>Using Order</p>
<ul>
	<li>When using order on explicitly positioning Grid items then order will affect painting order</li>
	<li>If using auto-placement then the order property will affect how items are placed on the grid</li>
</ul>
<div class="Example22">
	<div class="Box Box1">1</div>
	<div class="Box Box2">2</div>
	<div class="Box">3</div>
	<div class="Box">4</div>
	<div class="Box">5</div>
	<div class="Box">6</div>
	<div class="Box">7</div>
	<div class="Box">8</div>
	<div class="Box">9</div>
	<div class="Box">10</div>
	<div class="Box">11</div>
	<div class="Box">12</div>
</div>
<p>Box alignment align-items</p>


