<article class="Article">
	<h1 class="Heading">History of Tech</h1><a href="https://www.britannica.com/technology/history-of-technology">Link</a>
	<h2 class="SubHeading">Fragen</h2>
	<span class="Frage Bold">Wie lange dauert es den Text zu lesen? (2:35)</span>
	<section class="Intro">	
		<h2 class="SubHeading">Intro</h2>
		<p class="Content">	
			History of technology - the development over time of systematic techniques for making and doing things.
			<br>
			Technology - The means or activity by which man seeks to change or manipulate his environment
		</p>
		<p class="Content">
			Within each chronological phase a standard method has been adopted for surveying the technological experience and innovations. This begins with a brief review of the general social conditions of the period under discussion, and then goes on to consider the dominant materials and sources of power of the period, and their application to food production, manufacturing industry, building construction, transport and communications, military technology, and medical technology.
		</p>
		<p class="Content">
			Techniques are methods of creating new tools and products of tools, and the capacity for constructing such artifacts is a determining characteristic of humanlike species. Other species make artifacts: bees build elaborate hives to deposit their honey, birds make nests, and beavers build dams. But these attributes are the result of patterns of instinctive behaviour and cannot be varied to suit rapidly changing circumstances. Humanity, in contrast with other species, does not possess highly developed instinctive reactions but does have the capacity to think systematically and creatively about techniques. Humans can thus innovate and consciously modify the environment in a way no other species has achieved. An ape may on occasion use a stick to beat bananas from a tree, but a man can fashion the stick into a cutting tool and remove a whole bunch of bananas. Somewhere in the transition between the two, the hominid, the first manlike species, emerges. By virtue of his nature as a toolmaker, man is therefore a technologist from the beginning, and the history of technology encompasses the whole evolution of humankind.
		</p>
		<p class="Content">
			To simplify the relationship as much as possible, there are three points at which there must be some social involvement in technological innovation: <span class="Bold">social need, social resources, and a sympathetic social ethos</span>. In default of any of these factors it is unlikely that a technological innovation will be widely adopted or be successful.
			Whatever the source of <span class="Bold">social need</span>, it is essential that enough people be conscious of it to provide a market for an artifact or commodity that can meet the need.
			<span class="Bold">Social resources</span> are similarly an indispensable prerequisite to a successful innovation. Many inventions have foundered because the social resources vital for their realization—the capital, materials, and skilled personnel—were not available
			The resource of capital involves the existence of surplus productivity and an organization capable of directing the available wealth into channels in which the inventor can use it.
			A <span class="Bold">sympathetic social ethos</span> implies an environment receptive to new ideas, one in which the dominant social groups are prepared to consider innovation seriously.
			Whatever the psychological basis of inventive genius, there can be no doubt that the existence of socially important groups willing to encourage inventors and to use their ideas has been a crucial factor in the history of technology.
			Social conditions are thus of the utmost importance in the development of new techniques
		</p>
	</section>
	<section class="StoneAge">
		<h2 class="SubHeading">Stone Age technology - to 3000bce</h2>
		<p class="Content">
			For all except approximately the past 10,000 years, humans lived almost entirely in small nomadic communities dependent for survival on their skills in gathering food, hunting and fishing, and avoiding predators. It is reasonable to suppose that most of these communities developed in tropical latitudes, especially in Africa, where climatic conditions are most favourable to a creature with such poor bodily protection as humans have
		</p>
		<p class="Content">
			Toward the end of the last ice age, some 15,000 to 20,000 years ago, a few of the communities that were most favoured by geography and climate began to make the transition from the long period of Paleolithic, or Old Stone Age, savagery to a more settled way of life depending on animal husbandry and agriculture.
			This period of transition, the Neolithic Period, or New Stone Age, led eventually to a marked rise in population, to a growth in the size of communities, and to the beginnings of town life. It is sometimes referred to as the Neolithic Revolution because the speed of technological innovation increased so greatly and human social and political organization underwent a corresponding increase in complexity. To understand the beginnings of technology, it is thus necessary to survey developments from the Old Stone Age through the New Stone Age down to the emergence of the first urban civilizations about 3000 bce.
			Stones became tools only when they were shaped deliberately for specific purposes, and, for this to be done efficiently, suitable hard and fine-grained stones had to be found and means devised for shaping them and particularly for putting a cutting edge on them.
			Flint became a very popular stone for this purpose, although fine sandstones and certain volcanic rocks were also widely used. There is much Paleolithic evidence of skill in flaking and polishing stones to make scraping and cutting tools. These early tools were held in the hand, but gradually ways of protecting the hand from sharp edges on the stone, at first by wrapping one end in fur or grass or setting it in a wooden handle, were devised. Much later the technique of fixing the stone head to a haft converted these hand tools into more versatile tools and weapons.
			With the widening mastery of the material world in the Neolithic Period, other substances were brought into service, such as clay for pottery and brick, and increasing competence in handling textile raw materials led to the creation of the first woven fabrics to take the place of animal skins. About the same time, curiosity about the behaviour of metallic oxides in the presence of fire promoted one of the most significant technological innovations of all time and marked the succession from the Stone Age to the Metal Age.
		</p>
		<h2 class="SubHeading">Power</h2>
		<p class="Content">
			The use of fire was another basic technique mastered at some unknown time in the Old Stone Age. The discovery that fire could be tamed and controlled and the further discovery that a fire could be generated by persistent friction between two dry wooden surfaces were momentous.
			It also seems likely that by the end of prehistoric times the sail had emerged as a means of harnessing the wind for small boats, beginning a long sequence of developments in marine transport.
		</p>
		<h2 class="SubHeading">Tools and weapons</h2>
		<p class="Content">
			 the stone-headed spear, the harpoon, and the arrow all came into widespread use.
			  slings, throwing-sticks , blowguns, bird snares, fish and animal traps, and nets
			  first mechanical applications of rotary action in the shape of the potter’s wheel, the bow drill, the pole lathe, and the wheel itself. 
			  With the onset of the Neolithic Revolution, new food-producing skills were devised to serve the needs of agriculture and animal husbandry. Digging sticks and the first crude plows, stone sickles, querns that ground grain by friction between two stones and, most complicated of all, irrigation techniques for keeping the ground watered and fertile—all these became well established in the great subtropical river valleys of Egypt and Mesopotamia in the millennia before 3000 bce.
		</p>
		<h2 class="SubHeading">Building techniques</h2>
		<p class="Content">
			in the New Stone Age some impressive structures were erected, primarily tombs and burial mounds and other religious edifice
			domestic housing in which sun-dried brick was first used
			 In northern Europe, where the Neolithic transformation began later than around the eastern Mediterranean and lasted longer, huge stone monuments, of which Stonehenge in England is the outstanding example
		</p>
		<h2 class="SubHeading">Manufactoring</h2>
		<p class="Content">
			Manufacturing industry had its origin in the New Stone Age, with the application of techniques for grinding corn, baking clay, spinning and weaving textiles, and also, it seems likely, for dyeing, fermenting, and distillin
			 In the same way, the early metalworkers were beginning to acquire the techniques of extracting and working the softer metals, gold, silver, copper, and tin, that were to make their successors a select class of craftsmen.
			 All these incipient fields of specialization, moreover, implied developing trade between different communities and regions for the transfer of manufactured products in the later Stone Age
			 Such transmission suggests improving facilities for transport and communication
			 Such transmission suggests improving facilities for transport and communication. Paleolithic people presumably depended entirely on their own feet, and this remained the normal mode of transport throughout the Stone Age. Domestication of the ox, the donkey, and the camel undoubtedly brought some help
			 The dugout canoe and the birch-bark canoe demonstrated the potential of water transport, and, again, there is some evidence that the sail had already appeared by the end of the New Stone Age.
		</p>
	</section>
	<section class="Urban Revolution">
		<h2 class="SubHeading">Urban Revolution - 3000-500bce</h2>
		<p class="Content">
			 About 5,000 years ago a momentous cultural transition began to take place in a few well-favoured geographical situations it was the beginning of the invention of the city.
		</p>
		<h2 class="SubHeading">Craftsmen and scientists</h2>
		<p class="Content">
			Then came the discovery of the possibility of extracting certain metals from the ores in which they generally occur.
			 It led to the search for other metallic ores, to the development of metallurgy, to the encouragement of trade in order to secure specific metals, and to the further development of specialist skills. It contributed substantially to the emergence of urban societies, as it relied heavily upon trade and manufacturing industries, and thus to the rise of the first civilizations
			 he first fruits of this relationship appeared in greatly improved abilities to measure land, weigh, and keep time, all practical techniques, essential to any complex society, and inconceivable without literacy and the beginnings of scientific observation
		</p>
		<h2 class="SubHeading">Copper and bronze</h2>
		<p class="Content">
			Attention was thus given early to means of hardening copper to make satisfactory tools and weapons. The reduction of mixed metallic ores probably led to the discovery of alloying, whereby copper was fused with other metals to make bronze
			The bronzesmiths took over from the coppersmiths and goldsmiths the technique of heating the metal in a crucible over a strong fire and casting it into simple clay or stone molds to make axheads or spearheads or other solid shapes. For the crafting of hollow vessels or sculpture, they devised the so-called cire perdue technique, in which the shape to be molded is formed in wax and set in clay, the wax then being melted and drained out to leave a cavity into which the molten metal is poured. There were no great innovations in power technology, but important improvements were made in the construction of furnaces and kilns in response to the requirements of the metalworkers and potters and of new artisans such as glassworkers. 
			Also, the sailing ship assumed a definitive shape, progressing from a vessel with a small sail rigged in its bows and suitable only for sailing before the prevailing wind up the Nile River, into the substantial oceangoing ship of the later Egyptian dynasties, with a large rectangular sail rigged amidships.
		</p>
		<h2 class="SubHeading">Irrigation</h2>
		<p class="Content">
		Techniques of food production also showed many improvements over Neolithic methods, including one outstanding innovation in the shape of systematic irrigation.The Nile flooded with regularity each summer, and the civilizations building in its valley early learned the technique of basin irrigation, ponding back the floodwater for as long as possible after the river had receded, so that enriched soil could bring forth a harvest before the floods of the following season. These systems, however, depended on a high degree of social control, requiring skill in measuring and marking out the land and an intricate legal code to ensure justice in the distribution of precious water. Both systems, moreover, depended on intricate engineering in building dikes and embankments, canals and aqueducts (with lengthy stretches underground to prevent loss by evaporation), and the use of water-raising devices such as the shadoof, a balanced beam with a counterweight on one end and a bucket to lift the water on the other.
		</p>
		<h2 class="SubHeading">Urban manufactoring</h2>
		<p class="Content">
			the potter’s wheel became widely used for spinning the clay into the desired shape
			. In the production of wines and oils various forms of press were developed.Pack animals were still the primary means of land transport, the wheeled vehicle developing slowly to meet the divergent needs of agriculture, trade, and war
		</p>
		<h2 class="SubHeading">Building</h2>
		<p class="Content">
			 Sumerians were also the first to build columns with brick made from local clay, which also provided the writing material for the scribes.
		</p>
	</section>
	<section class="RomeSection">
		<h2 class="SubHeading">Greece and Rome (500bce-500ce)</h2>
		<p class="Content">
		The contributions of Greece and Rome in philosophy and religion, political and legal institutions, poetry and drama, and in the realm of scientific speculation stand in spectacular contrast with their relatively limited contributions in technology. their work represented more a consummation of earlier lines of development than a dramatic innovation
		</p>
		<h2 class="SubHeading">The mastery of iron</h2>
		<p class="Content">
			The outstanding technological factor of the Greco-Roman world was the smelting of iron, a technique—derived from unknown metallurgists
		</p>
		<h2 class="SubHeading">Mechanical contrivances</h2>
		<p class="Content">
			basic mechanical contrivances as the screw, the pulley, and the lever. This was exemplified in the use of the treadmill for powering cranes and other heavy lifting operations, the introduction of rotary water-raising devices for irrigation works (a scoop wheel powered by a treadmill), and the development of the waterwheel as a prime mover
		</p>
		<h2 class="SubHeading">Agriculture</h2>
		<p class="Content">
			Iron Age technology was applied to agriculture in the form of the iron (or iron-tipped) plowshare, which opened up the possibility of deeper plowing and of cultivating heavier soils than those normally worked in the Greco-Roman period
			 Elsewhere, in the drier climates of North Africa and Spain, the Romans were responsible for extensive irrigation systems, using the Archimedean screw and the noria (an animal- or water-powered scoop wheel) to raise water.
		</p>
		<h2 class="SubHeading">Building</h2>
		<p class="Content">
			The Romans copied the Greek style for most ceremonial purposes, but in other respects they were important innovators in building technology. They made extensive use of fired brick and tile as well as stone; they developed a strong cement that would set under water; and they explored the architectural possibilities of the arch, the vault, and the dome. They then applied these techniques in amphitheatres, aqueducts, tunnels, bridges, walls, lighthouses, and roads.
		</p>
		<h2 class="SubHeading">Transport</h2>
		<p class="Content">
		he Greeks began to develop a specialized fighting ship, provided with a ram in the prow, and the cargo ship, dispensing with oarsmen and relying entirely upon the wind, was also well established by the early years of Classical Greece.They gave much more attention to inland transport than to the sea, and they constructed a remarkable network of carefully aligned and well-laid roads, often paved over long stretches, throughout the provinces of the empire. Along these strategic highways the legions marched rapidly to the site of any crisis at which their presence was required. The roads also served for the development of trade, but their primary function was always military, as a vital means of keeping a vast empire in subjection.
		</p>
		<h2 class="SubHeading">Military technology</h2>
		<p class="Content">
			Roman military technology was inventive on occasion, as in the great siege catapults, depending on both torsion and tension power.
		</p>
	</section>
	<section class="MiddleAgesSection">
	<h2 class="SubHeading">Medieval advance 500-1500ce</h2>
	<p class="Content">
		The history of medieval technology is thus largely the story of the preservation, recovery, and modification of earlier achievements. But by the end of the period Western civilization had begun to produce some remarkable technological innovations that were to be of the utmost significance.
		the Western world of 500–1500 was forced to solve most of its problems on its own initiative. In doing so it transformed an agrarian society based upon a subsistence economy into a dynamic society with increased productivity sustaining trade, industry, and town life on a steadily growing scale. This was primarily a technological achievement, and one of considerable magnitude.
	</p>
	<h2 class="SubHeading">Power</h2>
	<p class="Content">
	The first instrument of this power revolution was the horse. By the invention of the horseshoe, the padded, rigid horse collar, and the stirrup, all of which first appeared in the West in the centuries of the Dark Ages, the horse was transformed from an ancillary beast of burden useful only for light duties into a highly versatile source of energy in peace and war.Even more significant was the success of medieval technology in harnessing water and wind power. The type of water mill that flourished first in northern Europe, however, appears to have been the Norse mill, using a horizontally mounted waterwheel driving a pair of grindstones directly.What is certain is that the windmill became widely used in Europe in the Middle Ages
	</p>
	<h2 class="SubHeading">Agriculture and crafts</h2>
	<p class="Content">
		 replacement of the ox by the faster gaited horse and the introduction of new crops brought about a distinct improvement in the quantity and variety of food
		 Meanwhile, the traditional crafts flourished within the expanding towns, where there was a growing market for the products of the rope makers, barrel makers (coopers), leatherworkers (curriers), and metalworkers (goldsmiths and silversmiths), to mention only a few of the more important crafts. New crafts such as that of the soapmakers developed in the towns. the development of the coal industry in northern Europe constitutes another important medieval innovation, no previous civilization having made any systematic attempt to exploit coal. The extent of this evolution was brilliantly summarized by Georgius Agricola in his De re metallica, published in 1556. This large, abundantly illustrated book shows techniques of shafting, pumping (by treadmill, animal power, and waterpower), and of conveying the ore won from the mines in trucks, which anticipated the development of the railways
	</p>
	<h2 class="SubHeading">Architecture</h2>
	<p class="Content">
		heir solutions to the problems of constructing very tall masonry buildings while preserving as much natural light as possible were the cross-rib vault, the flying buttress, and the great window panels providing scope for the new craft of the glazier using coloured glass with startling effect.
	</p>
	<h2 class="SubHeading">Military technology</h2>
	<p class="Content">
		The same period saw the evolution of the fortified stronghold from the Anglo-Saxon motte-and-bailey, a timber tower encircled by a timber and earth wall, to the formidable, fully developed masonry castle that had become an anachronism by the end of the Middle Ages because of the development of artillery. Intrinsic to this innovation were the invention of gunpowder and the development of techniques for casting metals, especially iron. 
		The first effective cannon appear to have been made of wrought-iron bars strapped together, but although barrels continued to be made in this way for some purposes, the practice of casting cannon in bronze became widespread. The technique of casting in bronze had been known for several millennia, but the casting of cannon presented problems of size and reliability.
		 manufacture of cast iron is the great metallurgical innovation of the Middle Ages. It must be remembered that from the beginning of the Iron Age until late in the Middle Ages the iron ore smelted in the available furnaces had not been completely converted to its liquid form. In the 15th century, however, the development of the blast furnace made possible this fusion, with the result that the molten metal could be poured directly into molds ready to receive it. 
	</p>
	<h2 class="SubHeading">Transport</h2>
	<p class="Content">
	t: the creation of a reliable oceangoing ship depending entirely on wind power instead of a combination of wind and muscle.The convergence of these improvements in the ships of the later Middle Ages, together with other improvements in construction and equipment—such as better barrels for carrying water, more reliable ropes, sails, and anchors, the availability of navigational charts (first recorded in use on board ship in 1270), and the astrolabe (for measuring the angle of the Sun or a star above the horizon)—lent confidence to adventurous mariners and thus led directly to the voyages of discovery that marked the end of the Middle Ages and the beginning of the expansion of Europe that has characterized modern times.
	</p>
	<h2 class="SubHeading">Communications</h2>
	<p class="Content">
		 The medieval interest in mechanical contrivances is well illustrated by the development of the mechanical clock, the oldest of which, driven by weights and controlled by a verge, an oscillating arm engaging with a gear wheel, and dated 1386, survives in Salisbury Cathedral, England. Clocks driven by springs had appeared by the mid-15th century, making it possible to construct more compact mechanisms and preparing the way for the portable clock.
		 Even more significant than the invention of the mechanical clock was the 15th-century invention of printing with movable metal type.
		 The intellectual curiosity that led to the foundation of the first universities in the 12th century and applied itself to the recovery of the ancient learning from whatever source it could be obtained was the mainspring also of the technological resourcefulness that encouraged the introduction of the windmill, the improvement and wider application of waterpower, the development of new industrial techniques, the invention of the mechanical clock and gunpowder, the evolution of the sailing ship, and the invention of large-scale printing
	</p>
	</section>
	<section class="WesternSection">
	<h2 class="SubHeading">Western techonlogy 1500-1750</h2>
	<p class="Content">

	</p>
	</section>
</article>