<header class="Header">
	<h1 class="Heading">History of Tech</h1>
	<a href="#" class="Info">?</a>
	<span class="Rest">Time 1:35</span>
	<a href="https://www.britannica.com/technology/history-of-technology">Link</a>
</header>
<article class="Article">
	<section class="IntroSection">	
		<p class="Content">	
			What is the history of technology?<br>
			The History of technology is the development over time of systematic techniques for making and doing things.<br>
			By virtue of his nature as a toolmaker, man is a technologist from the beginning, and the history of technology encompasses the whole evolution of humankind.
		</p>
		<br>
		<p class="Content">
			How is technology developed?<br>
			There are three points at which there must be some social involvement in technological innovation: social need , social resources, and a sympathetic social ethos<br>
			<span class="Bold">social need:</span> it is essential that enough people are conscious of it to provide a market for an artifact or commodity that can meet the need.<br>
			<span class="Bold">Social resources:</span> social resources are vital for their realization of inventions—the capital, materials, and skilled personnel.
			The resource of capital involves the existence of surplus productivity and an organization capable of directing the available wealth into channels in which the inventor can use it.<br>
			A <span class="Bold">sympathetic social ethos</span> implies an environment receptive to new ideas, one in which the dominant social groups are prepared to consider innovation seriously.
		</p>
	</section>
	<section class="Section SocialOrganizationSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Social organization</h2>
		<span class="TimeLine">Before 10.000bce</span>
		<p class="Content">
			Humans lived almost entirely in small nomadic communities, in tropical latitudes, especially in Africa, dependent for survival on their skills in gathering food, hunting and fishing, and avoiding predators.
		</p>
		<span class="TimeLine">From 10.000bce</span>
		<p class="Content">
			A few of the communities that were most favoured by geography and climate began to make the transition to a more settled way of life depending on animal husbandry and agriculture. This led to a marked rise in population, to a growth in the size of communities, and to the beginnings of town life.
		</p>
		<span class="TimeLine">From 2000bce</span>
		<p class="Content">
			A momentous cultural transition began to take place in a few well-favoured geographical situations it was the beginning of the invention of the city.
		</p>
		<span class="TimeLine">From 500ce</span>
		<p class="Content">
			The Western world transformed an agrarian society based upon a subsistence economy into a dynamic society with increased productivity sustaining trade, industry, and town life on a steadily growing scale. 
		</p>
		<span class="TimeLine">From 1750</span>
		<p class="Content">
		 	The creation of a political and social environment conductive to invention, the building up of vast commercial resources to support inventions likely to produce profitable results, the exploitation of mineral, agricultural, and other raw material resources for industrial purposes, and, above all, the recognition of specific needs for invention and an unwillingness to be defeated by difficulties.
		</p>
		<span class="TimeLine">From 1900</span>
		<p class="Content">
			Organizations set out to increase their productivity by improved techniques.  This made it possible to convert the comparatively small workshops of the 19th century into the giant engineering establishments of the 20th, with their mass-production and assembly-line techniques.
		</p>	
	</section>
	<section class="Section MetallurgySection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Metallurgy</h2>
		<span class="TimeLine">From 3000bce</span>
		<p class="Content">
			The discovery of the possibility of extracting certain metals from the ores in which they generally occur.
			It led to the search for other metallic ores, to the development of metallurgy, to the encouragement of trade in order to secure specific metals, and to the further development of specialist skills. It contributed substantially to the emergence of urban societies, as it relied heavily upon trade and manufacturing industries, and thus to the rise of the first civilizations.
			The first fruits of this relationship appeared in greatly improved abilities to measure land, weigh, and keep time, all practical techniques, essential to any complex society, and inconceivable without literacy and the beginnings of scientific observation
		</p>
		<span class="TimeLine">From 500bce</span>
		<p class="Content">
			A technique for smelting of iron
		</p>
		<span class="TimeLine">From 1750</span>
		<p class="Content">
			 A technique was developed for working with iron and steel. The essential characteristic of this achievement was that changing the fuel of the iron and steel industry from charcoal to coal enormously increased the production of these metals
		</p>
		<span class="TimeLine">From 1750</span>
		<p class="Content">
			Most of the easily available low-grade iron ores in the world contain a proportion of phosphorus, which proved difficult to eliminate but which ruined any steel produced from them. The problem was solved by the  invention of the basic slag process.
			The most important effect of this innovation was to make the extensive phosphoric ores available for exploitation.
		</p>
	</section>
	<section class="Section MaterialsSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Materials</h2>
		<span class="TimeLine">From 10000bce</span>
		<p class="Content">
			Clay for pottery and brick were brought into service, and increasing competence in handling textile raw materials led to the creation of the first woven fabrics to take the place of animal skins.
		</p>
		<span class="TimeLine">From 1900</span>
		<p class="Content">
			Methods of producing traditional materials like glass and concrete on a larger scale also supplied alternatives to iron, especially in building; in the form of reinforced concrete, they supplemented structural iron. Aluminum reached proportions of large-scale industrial significance in the 20th century.
			As a nonconductor of electricity, plastic proved to be exceptionally useful for all sorts of 	electrical appliances.
			The possibility of creating artificial fibres was another 19th-century discovery that did not become commercially significant until the 20th century.
			The chemical industry in the 20th century put a wide range of new materials at the disposal of society. It also succeeded in replacing natural sources of some materials. An important example of this is the manufacture of artificial rubber to meet a world demand far in excess of that which could be met by the existing rubber plantations.
		</p>
		<span class="TimeLine">From 1945</span>
		<p class="Content">
			A vast range of applications have been found for plastics that have been manufactured in many different forms with widely varied characteristics. Glass fibre has been molded in rigid shapes to provide motorcar bodies and hulls for small ships. Carbon fibre has demonstrated remarkable properties that make it an alternative to metals for high-temperature turbine blades. Research on ceramics has produced materials resistant to high temperatures suitable for heat shields on spacecraft. The demand for iron and its alloys and for the nonferrous metals has remained high. The modern world has found extensive new uses for the latter: copper for electrical conductors, tin for protective plating of less-resistant metals, lead as a shield in nuclear power installations, and silver in photography. 
		</p>
	</section>
	<section class="Section ManufactoringSection">
			<span class="TimeLine">Time</span>
			<h2 class="SubHeading">Manufactoring</h2>
			<span class="SubHeading">From 10.000bc</span>
			<p class="Content">
				Techniques for grinding corn, baking clay, spinning and weaving textiles, and also, it seems likely, for dyeing, fermenting, and distilling.
			 	The early metalworkers were beginning to acquire the techniques of extracting and working the softer metals, gold, silver, copper, and tin, that were to make their successors a select class of craftsmen.
			</p>
			<span class="SubHeading">From 3000</span>
			<p class="Content">
				the potter’s wheel became widely used for spinning the clay into the desired shape
				in the production of wines and oils various forms of press were developed. 
			</p>
			<span class="SubHeading">From 1500</span>
			<p class="Content">
				Tea became an important trade commodity but was soon surpassed in volume by the products of specially designed plantations, such as sugar, tobacco, cotton, and cocoa. Sugar refining and the processing of tobacco became important industries.
				The transplantation of Cotton to the New World made much greater quantities available and stimulated the emergence of an important new textile industry a  mechanized system, organized on the basis of factory production.
			</p>
			<span class="SubHeading">From 1750</span>
			<p class="Content">
				The processes of cotton manufacture in Britain were transformed from those of a small-scale domestic industry scattered over the towns and villages of the South Pennines into those of a large-scale, concentrated, power-driven, mechanized, factory-organized, urban industry.
			</p>
	</section>
	<section class="Section ToolsWeaponsSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Tools and weapons</h2>
		<span class="TimeLine">From 10.000bc</span>
		<p class="Content">
			Hard and fine-grained stones, like flint, were shaped deliberately for specific purposes and means devised for shaping them and particularly for putting a cutting edge on them had to be found. These early tools were held in the hand, but gradually ways of protecting the hand from sharp edges on the stone, at first by wrapping one end in fur or grass or setting it in a wooden handle, were devised. Much later the technique of fixing the stone head to a haft converted these hand tools into more versatile tools and weapons.
		 	The stone-headed spear, the harpoon, and the arrow all came into widespread use.
		  slings, throwing-sticks , blowguns, bird snares, fish and animal traps, and nets
		  first mechanical applications of rotary action in the shape of the potter’s wheel, the bow drill, the pole lathe, and the wheel itself. 
		  New food-producing skills were devised to serve the needs of agriculture and animal husbandry. Digging sticks and the first crude plows, stone sickles, querns that ground grain by friction between two stones and irrigation techniques for keeping the ground watered and fertile.
		</p>
		<span class="TimeLine">From 3000bce</span>
		<p class="Content">
			Attention given early to means of hardening copper to make satisfactory tools and weapons. The reduction of mixed metallic ores probably led to the discovery of alloying, whereby copper was fused with other metals to make bronze.
			The bronzesmiths took over from the coppersmiths and goldsmiths the technique of heating the metal in a crucible over a strong fire and casting it into simple clay or stone molds to make axheads or spearheads or other solid shapes.
		</p>
		<span class="TimeLine">From 1900</span>
		<p class="Content">
			Simultaneously, a group of German and Romanian pioneers was working along the same lines, and it was this team that was taken over by the German war effort in the 1930s and given the resources to develop a rocket capable of delivering a warhead hundreds of miles away. At the Peenemünde base on the island of Usedom in the Baltic, Wernher von Braun and his team created the V-2. Fully fueled, it weighed 14 tons; it was 40 feet (12 metres) long and was propelled by burning a mixture of alcohol and liquid oxygen. Reaching a height of more than 100 miles (160 km), the V-2 marked the beginning of the space age, and members of its design team were instrumental in both the Soviet and U.S. space programs after the war
		</p>
		<span class="TimeLine">Space-age</span>
		<p class="Content">
		ilitary technology in the space age has been concerned with the radical restructuring of strategy caused by the invention of nuclear weapons and the means of delivering them by intercontinental ballistic missiles.  Apart from these major features and the elaborate electronic systems intended to give an early warning of missile attack, military reorganization has emphasized high maneuverability through helicopter transport and a variety of armed vehicles. 
		</p>
	</section>
	<section class="Section ArchitectureSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Building techniques / Architecture / civil egineering</h2>
		<span class="TimeLine">New Stone Age 10.000bce</span>
		<p class="Content">
			in the New Stone Age some impressive structures were erected, primarily tombs and burial mounds and other religious edifice
			domestic housing in which sun-dried brick was first used
			 In northern Europe, where the Neolithic transformation began later than around the eastern Mediterranean and lasted longer, huge stone monuments, of which Stonehenge in England is the outstanding example
		</p>
		<span class="TimeLine">Urban Revolution - 3000-500bce</span>
		<p class="Content">
			 Sumerians were also the first to build columns with brick made from local clay, which also provided the writing material for the scribes.
		</p>
		<span class="TimeLine">Greece and Rome (500bce-500ce)</span>
		<p class="Content">
			The Romans copied the Greek style for most ceremonial purposes, but in other respects they were important innovators in building technology. They made extensive use of fired brick and tile as well as stone; they developed a strong cement that would set under water; and they explored the architectural possibilities of the arch, the vault, and the dome. They then applied these techniques in amphitheatres, aqueducts, tunnels, bridges, walls, lighthouses, and roads.
		</p>
		<span class="TimeLine">Medieval advance 500-1500ce</span>
		<p class="Content">
			Their solutions to the problems of constructing very tall masonry buildings while preserving as much natural light as possible were the cross-rib vault, the flying buttress, and the great window panels providing scope for the new craft of the glazier using coloured glass with startling effect.
		</p>
		<span class="TimeLine">Western techonlogy 1500-1750</span>
		<p class="Content">
			The practice of building in stone and brick became general.Glass was also beginning to become an important feature of buildings of all sorts, encouraging the development of an industry that still relied largely on ancient skills of fusing sand to make glass and blowing, molding, and cutting it into the shapes required.
		</p>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
			 Abundant cheap iron thus became an outstanding feature of the early stages of the Industrial Revolution in Britain. Cast iron was available for bridge construction, for the framework of fireproof factories, and for other civil-engineering purposes such as Thomas Telford’s novel cast-iron aqueducts
		</p>
	</section>
	<section class="Section PowerSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Power</h2>
		<span class="TimeLine">Stone Age technology - to 3000bce</span>
		<p class="Content">
			The use of fire was another basic technique mastered at some unknown time in the Old Stone Age. The discovery that fire could be tamed and controlled and the further discovery that a fire could be generated by persistent friction between two dry wooden surfaces were momentous.
			It also seems likely that by the end of prehistoric times the sail had emerged as a means of harnessing the wind for small boats, beginning a long sequence of developments in marine transport.
		</p>
		<span class="TimeLine">Urban Revolution - 3000-500bce</span>
		<p>
		 	There were no great innovations in power technology, but important improvements were made in the construction of furnaces and kilns in response to the requirements of the metalworkers and potters and of new artisans such as glassworkers. 
		</p>
		<span class="TimeLine">Medieval advance 500-1500ce</span>
		<p class="Content">
			The first instrument of this power revolution was the horse. By the invention of the horseshoe, the padded, rigid horse collar, and the stirrup, all of which first appeared in the West in the centuries of the Dark Ages, the horse was transformed from an ancillary beast of burden useful only for light duties into a highly versatile source of energy in peace and war.Even more significant was the success of medieval technology in harnessing water and wind power. The type of water mill that flourished first in northern Europe, however, appears to have been the Norse mill, using a horizontally mounted waterwheel driving a pair of grindstones directly.What is certain is that the windmill became widely used in Europe in the Middle Ages
		</p>
		<span class="TimeLine">Western techonlogy 1500-1750</span>
		<p class="Content">
			More significant were the services of the new sciences to technology, and the most important of these was the theoretical preparation for the invention of the steam engine.
			Although waterpower and wind power remained the basic sources of power for industry, a new prime mover had thus appeared in the shape of the steam engine, with tremendous potential for further development as and when new applications could be found for it.
		</p>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
			Although the qualification regarding older sources of power is important, steam became the characteristic and ubiquitous power source of the British Industrial Revolution. Full success in achieving a high-speed steam engine, however, depended on the steam turbine, a design of such novelty that it constituted a major technological innovation
			Steam did not simply replace other sources of power: it transformed them. The same sort of scientific inquiry that led to the development of the steam engine was also applied to the traditional sources of inanimate energy, with the result that both waterwheels and windmills were improved in design and efficiency. Numerous engineers contributed to the refinement of waterwheel construction, and by the middle of the 19th century new designs made possible increases in the speed of revolution of the waterwheel and thus prepared the way for the emergence of the water turbine, which is still an extremely efficient device for converting energy.
			Electricity does not constitute a prime mover, for however important it may be as a form of energy it has to be derived from a mechanical generator powered by water, steam, or internal combustion. The internal-combustion engine is a prime mover, and it emerged in the 19th century as a result both of greater scientific understanding of the principles of thermodynamics and of a search by engineers for a substitute for steam power in certain circumstances.
		</p>
		<span class="TimeLine">From 1900 to 1945</span>		
		<p class="Content">
			The high-compression engine burning heavy-oil fuels, invented by Rudolf Diesel in the 1890s, was developed to serve as a submarine power unit in World War I and was subsequently adapted to heavy road haulage duties and to agricultural tractors.
			The theory of the gas turbine, however, had been understood since the 1920s at least, and in 1929 Sir Frank Whittle, then taking a flying instructor’s course with the Royal Air Force, combined it with the principle of jet propulsion in the engine for which he took out a patent in the following year. But the construction of a satisfactory gas-turbine engine was delayed for a decade by the lack of resources, and particularly by the need to develop new metal alloys that could withstand the high temperatures generated in the engine. This problem was solved by the development of a nickel-chromium alloy, and, with the gradual solution of the other problems, work went on in both Germany and Britain to seize a military advantage by applying the jet engine to combat aircraft.
		</p>
		<span class="TimeLine">From 1900 to 1945</span>
		<p class="Content">
			The gas turbine burns mainly the middle fractions (kerosene, or paraffin) of refined oil. The general tendency of its widespread application was to increase still further the dependence of the industrialized nations on the producers of crude oil, which became a raw material of immense economic value and international political significance.
			The refining of this material itself underwent important technological development. 
		</p>
		<span class="TimeLine">Space-age</span>		
		<p class="Content">
			Atomic power stations were built on this principle in the advanced industrial world, and the system is still undergoing refinement, although so far atomic energy has not vindicated the high hopes placed in it as an economic source of electricity and presents formidable problems of waste disposal and maintenance. 
			eanwhile, nuclear physics was probing the even more promising possibilities of harnessing the power of nuclear fusion, of creating the conditions in which simple atoms of hydrogen combine, with a vast release of energy, to form heavier atoms. This is the process that occurs in the stars, but so far it has only been created artificially by triggering off a fusion reaction with the intense heat generated momentarily by an atomic fission explosion. This is the mechanism of the hydrogen bomb. So far scientists have devised no way of harnessing this process so that continuous controlled energy can be obtained from it, although researches into plasma physics, generating a point of intense heat within a stream of electrons imprisoned in a strong magnetic field, hold out some hopes that such means will be discovered in the not-too-distant future.
			It may well become a matter of urgency that some means of extracting usable power from nuclear fusion be acquired. At the present rate of consumption, the world’s resources of mineral fuels, and of the available radioactive materials used in the present nuclear power stations, will be exhausted within a period of perhaps a few decades. The most attractive alternative is thus a form of energy derived from a controlled fusion reaction that would use hydrogen from seawater, a virtually limitless source, and that would not create a significant problem of waste disposal. Other sources of energy that may provide alternatives to mineral fuels include various forms of solar cell, deriving power from the Sun by a chemical or physical reaction such as that of photosynthesis. 
			The gas turbine underwent substantial development since its first successful operational use at the end of World War II. The high power-to-weight ratio of this type of engine made it ideal for aircraft propulsion, so that in either the pure jet or turboprop form it was generally adopted for all large aircraft, both military and civil. The immediate effect of the adoption of jet propulsion was a spectacular increase in aircraft speeds, the first piloted airplane exceeding the speed of sound in level flight being the American Bell X-1 in 1947
		</p>
		</p>
	</section>
	<section class="Section MechanicalSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Mechanical contrivances</h2>
		<span class="TimeLine">Greece and Rome (500bce-500ce)</span>
		<p>
			basic mechanical contrivances as the screw, the pulley, and the lever. This was exemplified in the use of the treadmill for powering cranes and other heavy lifting operations, the introduction of rotary water-raising devices for irrigation works (a scoop wheel powered by a treadmill), and the development of the waterwheel as a prime mover			
		</p>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
			Closely linked with the iron and steel industry was the rise of mechanical engineering, brought about by the demand for steam engines and other large machines, 
		</p>
	</section>
	<section class="Section AgricultureSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Agriculture and Food</h2>
		<span class="TimeLine">Urban Revolution 3000bce-500bce</span>
		<p class="Content">
			Techniques of food production also showed many improvements over Neolithic methods, including one outstanding innovation in the shape of systematic irrigation.The Nile flooded with regularity each summer, and the civilizations building in its valley early learned the technique of basin irrigation, ponding back the floodwater for as long as possible after the river had receded, so that enriched soil could bring forth a harvest before the floods of the following season. These systems, however, depended on a high degree of social control, requiring skill in measuring and marking out the land and an intricate legal code to ensure justice in the distribution of precious water. Both systems, moreover, depended on intricate engineering in building dikes and embankments, canals and aqueducts (with lengthy stretches underground to prevent loss by evaporation), and the use of water-raising devices such as the shadoof, a balanced beam with a counterweight on one end and a bucket to lift the water on the other.
		</p>
		<span class="TimeLine">Greece and Rome (500bce-500ce)</span>	
		<p class="Content">
			Iron Age technology was applied to agriculture in the form of the iron (or iron-tipped) plowshare, which opened up the possibility of deeper plowing and of cultivating heavier soils than those normally worked in the Greco-Roman period
			 Elsewhere, in the drier climates of North Africa and Spain, the Romans were responsible for extensive irrigation systems, using the Archimedean screw and the noria (an animal- or water-powered scoop wheel) to raise water.
		</p>
		<span class="TimeLine">Medieval advance 500-1500ce</span>
		<p class="Content">
			 replacement of the ox by the faster gaited horse and the introduction of new crops brought about a distinct improvement in the quantity and variety of food
			 Meanwhile, the traditional crafts flourished within the expanding towns, where there was a growing market for the products of the rope makers, barrel makers (coopers), leatherworkers (curriers), and metalworkers (goldsmiths and silversmiths), to mention only a few of the more important crafts. New crafts such as that of the soapmakers developed in the towns. the development of the coal industry in northern Europe constitutes another important medieval innovation, no previous civilization having made any systematic attempt to exploit coal. The extent of this evolution was brilliantly summarized by Georgius Agricola in his De re metallica, published in 1556. This large, abundantly illustrated book shows techniques of shafting, pumping (by treadmill, animal power, and waterpower), and of conveying the ore won from the mines in trucks, which anticipated the development of the railways
		</p>
		<span class="TimeLine">Western techonlogy 1500-1750</span>
		<p class="Content">
		Another major area that began to show signs of profound change in the 18th century was agriculture. Stimulated by greater commercial activity, the rising market for food caused by an increasing population aspiring to a higher standard of living.
		Again, it consisted of using this money for technical improvements, taking the form of machinery—such as Jethro Tull’s mechanical sower—of better drainage, of scientific methods of breeding to raise the quality of livestock, and of experimenting with new crops and systems of crop rotation. The process has often been described as an agricultural revolution, but it is preferable to regard it as an essential prelude to and part of the Industrial Revolution.
		</p>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
			The McCormick reaper and the combine harvester were both developed in the United States, as were barbed wire and the food-packing and canning industries, Chicago becoming the centre for these processes. The introduction of refrigeration techniques in the second half of the 19th century made it possible to convey meat from Australia and Argentina to European markets, and the same markets encouraged the growth of dairy farming and market gardening
		</p>
		<span class="TimeLine">From 1900 to 1945</span>
		<p class="Content">
		The increasing chemical understanding of drugs and microorganisms was applied with outstanding success to the study of food. The analysis of the relationship between certain types of food and human physical performance led to the identification of vitamins in 1911 and to their classification into three types in 1919, with subsequent additions and subdivisions. It was realized that the presence of these materials is necessary for a healthy diet, and eating habits and public health programs were adjusted accordingly.
		As well as improving in quality, the quantity of food produced in the 20th century increased rapidly as a result of the intensive application of modern technology.
		The greater scale and complexity of urban life created a pressure for increased production and a greater variety of foodstuffs, and the resources of the internal-combustion engine, electricity, and chemical technology were called upon to achieve these objectives. 
		The internal-combustion engine was utilized in the tractor, which became the almost universal agent of mobile power on the farm in the industrialized countrie.
		Synthetic fertilizers, an important product of the chemical industry, became popular in most types of farming, and other chemicals—pesticides and herbicides—appeared toward the end of the period, effecting something of an agrarian revolution.
		Food processing and packaging also advanced—dehydration techniques such as vacuum-contact drying were introduced in the 1930s—but the 19th-century innovations of canning and refrigeration remained the dominant techniques of preservation.
		</p>
		<span class="TimeLine">Space-age technology</span>
		<p class="Content">
			Food production has been subject to technological innovation such as accelerated freeze-drying and irradiation as methods of preservation, as well as the increasing mechanization of farming throughout the world. The widespread use of new pesticides and herbicides in some cases reached the point of abuse, causing worldwide concern. Despite such problems, farming was transformed in response to the demand for more food; scientific farming, with its careful breeding, controlled feeding, and mechanized handling, became commonplace. New food-producing techniques such as aquaculture and hydroponics, for farming the sea and seabed and for creating self-contained cycles of food production without soil, respectively, are being explored either to increase the world supply of food or to devise ways of sustaining closed communities such as may one day venture forth from the Earth on the adventure of interplanetary exploration.
		</p>
	</section>
	<section class="Section TransportSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Transport</h2>
		<span class="TimeLine">From 10.000bc</span>
		<p class="Content">
			All fields of specialization implied developing trade between different communities and regions for the transfer of manufactured products in the later Stone Age.
			Such transmission suggests improving facilities for transport and communication. Paleolithic people presumably depended entirely on their own feet, and this remained the normal mode of transport throughout the Stone Age. Domestication of the ox, the donkey, and the camel undoubtedly brought some help
			The dugout canoe and the birch-bark canoe demonstrated the potential of water transport, and, again, there is some evidence that the sail had already appeared by the end of the New Stone Age.
		</p>
		<span class="TimeLine">Urban Revolution - 3000-500bce</span>
		<p class="Content">
			Pack animals 	were still the primary means of land transport, the wheeled vehicle developing slowly to 	meet the divergent needs of agriculture, trade, and war
			Also, the sailing ship assumed a definitive shape, progressing from a vessel with a small sail rigged in its bows and suitable only for sailing before the prevailing wind up the Nile River, into the substantial oceangoing ship of the later Egyptian dynasties, with a large rectangular sail rigged amidships.
		</p>
		<span class="TimeLine">Greece and Rome (500bce-500ce)</span>
		<p class="Content">
			The Greeks began to develop a specialized fighting ship, provided with a ram in the prow, and the cargo ship, dispensing with oarsmen and relying entirely upon the wind, was also well established by the early years of Classical Greece.They gave much more attention to inland transport than to the sea, and they constructed a remarkable network of carefully aligned and well-laid roads, often paved over long stretches, throughout the provinces of the empire. Along these strategic highways the legions marched rapidly to the site of any crisis at which their presence was required. The roads also served for the development of trade, but their primary function was always military, as a vital means of keeping a vast empire in subjection.
		</p>
		<span class="TimeLine">Medieval advance 500-1500ce</span>
		<p class="Content">
		 the creation of a reliable oceangoing ship depending entirely on wind power instead of a combination of wind and muscle.The convergence of these improvements in the ships of the later Middle Ages, together with other improvements in construction and equipment—such as better barrels for carrying water, more reliable ropes, sails, and anchors, the availability of navigational charts (first recorded in use on board ship in 1270), and the astrolabe (for measuring the angle of the Sun or a star above the horizon)—lent confidence to adventurous mariners and thus led directly to the voyages of discovery that marked the end of the Middle Ages and the beginning of the expansion of Europe that has characterized modern times.
		</p>
		<span class="TimeLine">Western techonlogy 1500-1750</span>
		<p class="Content">
			The sea remained the greatest highway of commerce, stimulating innovation in the sailing ship.
			The needs of reliable navigation created a demand for better instruments. The quadrant was improved by conversion to the octant, using mirrors to align the image of a star with the horizon and to measure its angle more accurately: with further refinements the modern sextant evolved
		</p>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
			The first improvements in Britain came in roads and canals in the second half of the 18th century.
			The outstanding innovation in transport, however, was the application of steam power, which occurred in three forms.
		</p>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
			First was the evolution of the railroad: the combination of the steam locomotive and a permanent travel way of metal rails.
			in 1829. The opening of the Liverpool and Manchester line may fairly be regarded as the inauguration of the railway era, which continued until World War I. During this time railways were built across all the countries and continents of the world, opening up vast areas to the markets of industrial society. 

			The second form in which steam power was applied to transport was that of the road locomotive. but its development was so constricted  that it achieved general utility only for heavy traction work and such duties as road rolling.

			The first commercial success in steam propulsion for a ship, however, was that of the American Robert Fulton, whose paddle steamer the “North River Steamboat,” commonly known as the Clermont after its first overnight port, plied between New York and Albany in 1807.
		 	By the end of the century, steamships were well on the way to displacing the sailing ship on all the main trade routes of the world
		</p>
		<span class="TimeLine">From 1900 to 1945</span>
		<p class="Content">
			The enormous popularity of the automobile deprived the railways of much of their passenger traffic and forced them to seek economies in conversion to diesel engines or electric traction.
			The airplane is entirely a product of the 20th century. on Dec. 17, 1903, Wilbur and Orville Wright in their Flyer I at the Kill Devil Hills in North Carolina achieved sustained, controlled, powered flight, one of the great “firsts” in the history of technology.. World War I gave a great impetus to this technological development, transforming small-scale scattered aircraft manufacture into a major industry in all the main belligerent countries, and transforming the airplane itself from a fragile construction in wood and glue into a robust machine capable of startling aerobatic feats.
			The end of the war brought a setback to this new industry, but the airplane had evolved sufficiently to reveal its potential as a medium of civil transport, and during the interwar years the establishment of transcontinental air routes provided a market for large, comfortable, and safe aircraft.The application of the internal-combustion engine to a rigid-frame balloon airship by Ferdinand von Zeppelin had temporarily made a weapon of war in 1915, although experience soon proved that it could not survive in competition with the airplane.
		</p>
		<span class="TimeLine">Space-age</span>
		<p class="Content">
			The automobile proceeded in its phenomenal growth in popularity, causing radical changes in many of the patterns of life, although the basic design of the motorcar has remained unchanged. The airplane, benefiting from jet propulsion and a number of lesser technical advances, made spectacular gains at the expense of both the ocean liner and the railroad. 
			World War II helped bring about a shift to air transport: direct passenger flights across the Atlantic were initiated immediately after the war. 
			The development of air-cushion vehicles derived from the Hovercraft, in use in the English Channel and elsewhere, and one of the outstanding technological innovations of the period since 1945. The central feature of this machine is a down-blast of air, which creates an air cushion on which the craft rides without direct contact with the sea or ground below it. The remarkable versatility of the air-cushion machine is beyond doubt, but it has proved difficult to find very many transportation needs that it can fulfill better than any craft already available. All the machines mentioned so far, automobiles, airplanes, and Hovercraft, use oil fuels, and it is possible that the exhaustion of these will turn attention increasingly to alternative sources of power and particularly to electric traction (electric railroads and autos), in which field there have been promising developments such as the linear-induction motor.
		</p>
	</section>
	<section class="Section MilitarySection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Military technology</h2>
		<span class="TimeLine">Greece and Rome</span>
		<p class="Content">
			Roman military technology was inventive on occasion, as in the great siege catapults, depending on both torsion and tension power.
		</p>
		<span class="TimeLine">Medieval advance 500-1500ce</span>
		<p class="Content">
			The same period saw the evolution of the fortified stronghold from the Anglo-Saxon motte-and-bailey, a timber tower encircled by a timber and earth wall, to the formidable, fully developed masonry castle that had become an anachronism by the end of the Middle Ages because of the development of artillery. Intrinsic to this innovation were the invention of gunpowder and the development of techniques for casting metals, especially iron. 
			The first effective cannon appear to have been made of wrought-iron bars strapped together, but although barrels continued to be made in this way for some purposes, the practice of casting cannon in bronze became widespread. The technique of casting in bronze had been known for several millennia, but the casting of cannon presented problems of size and reliability.
			 manufacture of cast iron is the great metallurgical innovation of the Middle Ages. It must be remembered that from the beginning of the Iron Age until late in the Middle Ages the iron ore smelted in the available furnaces had not been completely converted to its liquid form. In the 15th century, however, the development of the blast furnace made possible this fusion, with the result that the molten metal could be poured directly into molds ready to receive it. 
		</p>
	</section>
	<section class="Section CommunicationsSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Communications</h2>
		<span class="TimeLine">Medieval advance 500-1500ce</span>
		<p class="Content">
			Even more significant than the invention of the mechanical clock was the 15th-century invention of printing with movable metal type. The details of this epochal invention are disappointingly obscure, but there is general agreement that the first large-scale printing workshop was that established at Mainz by Johannes Gutenberg, which was producing a sufficient quantity of accurate type to print a Vulgate Bible about 1455. It is clear, however, that this invention drew heavily upon long previous experience with block printing—using a single block to print a design or picture—and on developments in typecasting and ink making. It also made heavy demands on the paper industry, which had been established in Europe since the 12th century but had developed slowly until the invention of printing and the subsequent vogue for the printed word. The printing press itself, vital for securing a firm and even print over the whole page, was an adaptation of the screw press already familiar in the winepress and other applications. The printers found an enormous demand for their product, so that the technique spread rapidly and the printed word became an essential medium of political, social, religious, and scientific communication as well as a convenient means for the dissemination of news and information. By 1500 almost 40,000 recorded editions of books had been printed in 14 European countries, with Germany and Italy accounting for two-thirds. Few single inventions have had such far-reaching consequences.
		</p>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
		The great innovations in communications technology, however, derived from electricity. The first was the electric telegraph, invented or at least made into a practical proposition for use on the developing British railway system.The electric telegraph was followed by the telephone, invented by Alexander Graham Bell in 1876 and adopted quickly for short-range oral communication in the cities of America and at a somewhat more leisurely pace in those of Europe.
		</p>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
			The steam engine helped to mechanize and thus to speed up the processes of papermaking and printing. In the latter case the acceleration was achieved by the introduction of the high-speed rotary press and the Linotype machine for casting type and setting it in justified lines (i.e., with even right-hand margins). Printing, indeed, had to undergo a technological revolution comparable to the 15th-century invention of movable type to be able to supply the greatly increasing market for the printed word.
			Another important process that was to make a vital contribution to modern printing was discovered and developed in the 19th century: photography.By the 1890s George Eastman in the United States was manufacturing cameras and celluloid photographic film for a popular market, and the first experiments with the cinema were beginning to attract attention.
		</p>
		<span class="TimeLine">Epoche From 1900 to 1945</span>
		<p class="Content">
			Photography was also a proved and familiar technique by the end of the 19th century, but cinematography was new and did not become generally available until after World War I, when it became enormously popular.
			In part, well-established media of communication like printing participated in this revolution, although most of the significant changes—such as the typewriter, the Linotype, and the high-speed power-driven rotary press—were achievements of the 19th century. 
			The real novelties in communications in the 20th century came in electronics. 
			he scientific examination of the relationship between light waves and electromagnetic waves had already revealed the possibility of transmitting electromagnetic signals between widely separated points, and on Dec. 12, 1901, Guglielmo Marconi succeeded in transmitting the first wireless message across the Atlantic. Early equipment was crude, but within a few years striking progress was made in improving the means of transmitting and receiving coded messages. 
			articularly important was the development of the thermionic valve, a device for rectifying (that is, converting a high-frequency oscillating signal into a unidirectional current capable of registering as a sound) an electromagnetic wave. This was essentially a development from the carbon-filament electric lightbulb.
			In 1904 Sir John Ambrose Fleming of Britain discovered that by placing a metal cylinder around the filament in the bulb and by connecting the cylinder (the plate) to a third terminal, a current could be rectified so that it could be detected by a telephone receiver. Fleming’s device was known as the diode, and two years later, in 1906, Lee De Forest of the United States made the significant improvement that became known as the triode by introducing a third electrode (the grid) between the filament and the plate. The outstanding feature of this refinement was its ability to amplify a signal. Its application made possible by the 1920s the widespread introduction of live-voice broadcasting in Europe and America, with a consequent boom in the production of radio receivers and other equipment.This, however, was only one of the results derived from the application of the thermionic valve. The idea of harnessing the flow of electrons was applied in the electron microscope, radar (a detection device depending on the capacity of some radio waves to be reflected by solid objects), the electronic computer, and in the cathode-ray tube of the television set.
			By the outbreak of World War II, television services were being introduced in several countries, although the war suspended their extension for a decade.
		</p>
		<span class="TimeLine">Space-age</span>
		<p>
			In communications also, the dominant lines of development continue to be those that were established before or during World War II.First, the transistor, so significant for computers and control engineering, made a large contribution to communications technology. Second, the establishment of space satellites, considered to be a remote theoretical possibility in the 1940s, became part of the accepted technological scene in the 1960s, and these have played a dramatic part in telephone and television communication as well as in relaying meteorological pictures and data. Third, the development of magnetic tape as a means of recording sound and, more recently, vision provided a highly flexible and useful mode of communication. Fourth, new printing techniques were developed. In phototypesetting, a photographic image is substituted for the conventional metal type. In xerography, a dry copying process, an ink powder is attracted to the image to be copied by static electricity and then fused by heating. Fifth, new optical devices such as zoom lenses increased the power of cameras and prompted corresponding improvements in the quality of film available to the cinema and television. Sixth, new physical techniques such as those that produced the laser (light amplification by stimulated emission of radiation) made available an immensely powerful means of communication over long distances, although these are still in their experimental stages. The laser also acquired significance as an important addition to surgical techniques and as an instrument of space weaponry. The seventh and final communications innovation is the use of electromagnetic waves other than light to explore the structure of the universe by means of the radio telescope and its derivative, the X-ray telescope. This technique was pioneered after World War II and has since become a vital instrument of satellite control and space research. Radio telescopes have also been directed toward the Sun’s closest neighbours in space in the hope of detecting electromagnetic signals from other intelligent species in the universe.
		</p>
	</section>
	<section class="Section ChemistrySection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Chemistry</h2>
		<span class="TimeLine">Western technology 1500-1750</span>
		<p class="Content">
			For the most part, pharmacy still relied upon recipes based on herbs and other natural products, but the systematic preparation of these eventually led to the discovery of useful new drugs.
		</p>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
		The modern chemical industry was virtually called into being in order to develop more rapid bleaching techniques for the British cotton industry.
		and thereafter the chemical industry turned its attention to the needs of other industries, and particularly to the increasing demand for alkali in soap, glass, and a range of other manufacturing processes.
		In the same period, the middle third of the 19th century, work on the qualities of cellulosic materials was leading to the development of high explosives such as nitrocellulose, nitroglycerine, and dynamite, while experiments with the solidification and extrusion of cellulosic liquids were producing the first plastics, such as celluloid, and the first artificial fibres, so-called artificial silk, or rayon. By the end of the century all these processes had become the bases for large chemical industries.
		An important by-product of the expanding chemical industry was the manufacture of a widening range of medicinal and pharmaceutical materials as medical knowledge increased and drugs began to play a constructive part in therapy.
		By this time Louis Pasteur and others had established the bacteriological origin of many common diseases and thereby helped to promote movements for better public health and immunization against many virulent diseases such as typhoid fever and diphtheria. Parallel improvements in anesthetics (beginning with Sir Humphry Davy’s discovery of nitrous oxide, or “laughing gas,” in 1799) and antiseptics were making possible elaborate surgery, and by the end of the century X-rays and radiology were placing powerful new tools at the disposal of medical technology, while the use of synthetic drugs such as the barbiturates and aspirin (acetylsalicylic acid) had become established.
		</p>
		<span class="TimeLine">From 1900 to 1945</span>
		<p class="Content">
			An even more dramatic result of the growth in chemical knowledge was the expansion of the pharmaceutical industry. 
			The science of pharmacy emerged slowly from the traditional empiricism of the herbalist, but by the end of the 19th century there had been some solid achievements in the analysis of existing drugs and in the preparation of new ones. 
			Greater success came in the following decades with the production of the first synthetic antifever drugs and painkilling compounds, culminating in 1899 in the conversion of salicylic acid into acetylsalicylic acid (aspirin), which is still the most widely used drug.
			The significance of this discovery, made in 1910, was that 606 was the first drug devised to overwhelm an invading microorganism without offending the host.
			In 1935 the discovery that Prontosil, a red dye developed by the German synthetic dyestuff industry, was an effective drug against streptococcal infections (leading to blood poisoning) introduced the important sulfa drugs. 
			Alexander Fleming’s discovery of penicillin in 1928 was not immediately followed up, because it proved very difficult to isolate the drug in a stable form from the mold in which it was formed. But the stimulus of World War II gave a fresh urgency to research in this field, and commercial production of penicillin, the first of the antibiotics, began in 1941. These drugs work by preventing the growth of pathogenic organisms.
			Other branches of medical technology made significant progress. Anesthetics and antiseptics had been developed in the 19th century, opening up new possibilities for complex surgery. Techniques of blood transfusion, examination by X-rays (discovered in 1895), radiation therapy (following demonstration of the therapeutic effects of ultraviolet light in 1893 and the discovery of radium in 1898), and orthopedic surgery for bone disorders all developed rapidly. The techniques of immunology advanced with the development of vaccines effective against typhoid and other diseases.
		</p>
	</section>
	<section class="Section ElectricitySection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Electricity</h2>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
			Both generators and motors underwent substantial development in the middle decades of the 19th century. In particular, French, German, Belgian, and Swiss engineers evolved the most satisfactory forms of armature (the coil of wire) and produced the dynamo, which made the large-scale generation of electricity commercially feasible.The next problem was that of finding a market.Lighting alone could not provide an economical market for electricity because its use was confined to the hours of darkness. Successful commercial generation depended upon the development of other uses for electricity, and particularly on electric traction. The subsequent spread of this form of energy is one of the most remarkable technological success stories of the 20th century, but most of the basic techniques of generation, distribution, and utilization had been mastered by the end of the 19th century.
		</p>
		<span class="TimeLine">1900-1945</span>
		<p class="Content">
			The 20th century witnessed a colossal expansion of electrical power generation and distribution.As the market for electricity increased, so did the distance over which it was transmitted, and the efficiency of transmission required higher and higher voltages.
		</p>
	</section>
	<section class="Section CivilSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Civil engineering</h2>
		<span class="TimeLine">Industrial Revolution - 1750-1900</span>
		<p class="Content">
			But the use of gunpowder, dynamite, and steam diggers helped to reduce this dependence toward the end of the 19th century, and the introduction of compressed air and hydraulic tools also contributed to the lightening of drudgery of the heavy work of moving earth.
			The use of a tunneling shield, to allow a tunnel to be driven through soft or uncertain rock strata, was pioneered by the French émigré engineer Marc Brunel in the construction of the first tunnel underneath the Thames River in London (1825–42), and the technique was adopted elsewhere.
			he iron bell or caisson was introduced for working below water level in order to lay foundations for bridges or other structures, and bridge building made great advances with the perfecting of the suspension bridge. Cast iron became very important in the framing of large buildings.
			By the end of the 19th century, however, steel was beginning to replace cast iron as well as wrought iron, and reinforced concrete was being introduced. In water-supply and sewage-disposal works, civil engineering achieved some monumental successes, especially in the design of dams, which improved considerably in the period, and in long-distance piping and pumping.
		</p>
		<span class="TimeLine">1900-1945</span>
		<p class="Content">
			Advancing techniques for large-scale construction produced many spectacular skyscrapers, bridges, and dams all over the world but especially in the United States.. Conventional methods of building in brick and masonry had reached the limits of feasibility in the 1800s in office blocks up to 16-stories high, and the future lay with the skeleton frame or cage construction pioneered in the 1880s in Chicago. The vital ingredients for the new tall buildings or skyscrapers that followed were abundant cheap steel—for columns, beams, and trusses—and efficient passenger elevators. The availability of these developments and the demand for more and more office space in the thriving cities of Chicago and New York caused the boom in skyscraper building. Concrete, and more especially reinforced concrete (that is, concrete set around a framework or mesh of steel), played an important part in the construction of the later skyscrapers, and this material also led to the introduction of more imaginative structural forms in buildings and to the development of prefabrication techniques. 
		</p>
		<span class="TimeLine">Space-age</span>
		<p class="Content">
			 One industry that has not been deeply influenced by new control-engineering techniques is construction, in which the nature of the tasks involved makes dependence on a large labour force still essential. Nevertheless, some important new techniques appeared since 1945, notably the use of heavy earth-moving and excavating machines such as the bulldozer and the tower crane.
		</p>
	</section>
	<section class="Section ComputerSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Automation and the computer</h2>
		<span class="TimeLine">Computerage</span>
		<p class="Content">
			 The electronic digital computer, a 20th-century invention the theory of which was expounded by the English mathematician and inventor Charles Babbage in the 1830s. The essence of this machine is the use of electronic devices to record electric impulses coded in the very simple binary system, using only two symbols, but other devices such as punched cards and magnetic tape for storing and feeding information have been important supplementary features. By virtue of the very high speeds at which such equipment can operate, even the most complicated calculations can be performed in a very short space of time.
			 The Mark I digital computer was at work at Harvard University in 1944, and after the war the possibility of using it for a wide range of industrial, administrative, and scientific applications was quickly realized. The early computers, however, were large and expensive machines, and their general application was delayed until the invention of the transistor revolutionized computer technology.
			 The transistor is another of the key inventions of the space age. The product of research on the physics of solids, and particularly of those materials such as germanium and silicon known as semiconductors.  It was discovered that crystals of semiconductors, which have the capacity to conduct electricity in some conditions and not in others, could be made to perform the functions of a thermionic valve but in the form of a device that was much smaller, more reliable, and more versatile. The result has been the replacement of the cumbersome, fragile, and heat-producing vacuum tubes by the small and strong transistor in a wide range of electronic equipment.
			 Most especially, this conversion has made possible the construction of much more powerful computers while making them more compact and less expensive. Indeed, so small can effective transistors be that they have made possible the new skills of miniaturization and microminiaturization, whereby complicated electronic circuits can be created on minute pieces of silicon or other semiconducting materials and incorporated in large numbers in computers. From the late 1950s to the mid-1970s the computer grew from an exotic accessory to an integral element of most commercial enterprises, and computers made for home use became widespread in the ’80s.
			  But perhaps of greater long-term significance is research in biology, with the aid of modern techniques and instruments, that began to unlock the mysteries of cell formation and reproduction through the self-replicating properties of the DNA molecules present in all living substances and thus to explore the nature of life itself.
		</p>
	</section>
	<section class="Section SpaceexplorationSection">
		<span class="TimeLine">Time</span>
		<h2 class="SubHeading">Space exploration</h2>
		<span class="TimeLine">Space-Age</span>
		<p class="Content">
		The rocket, which has played a crucial part in the revolution of military technology since the end of World War II, acquired a more constructive significance in the U.S. and Soviet space programs. The first spectacular step was Sputnik 1, a sphere with an instrument package weighing 184 pounds (83 kilograms), launched into space by the Soviets on Oct. 4, 1957, to become the first artificial satellite. The feat precipitated the so-called space race, in which achievements followed each other in rapid succession.
		They may be conveniently grouped in four chronological although overlapping stages.

		The first stage emphasized increasing the thrust of rockets capable of putting satellites into orbit and on exploring the uses of satellites in communications, in weather observation, in monitoring military information, and in topographical and geological surveying.
		The second stage was that of the manned space program. This began with the successful orbit of the Earth by the Soviet cosmonaut Yury Gagarin on April 12, 1961, in the Vostok 1. This flight demonstrated mastery of the problems of weightlessness and of safe reentry into the Earth’s atmosphere. A series of Soviet and U.S. spaceflights followed in which the techniques of space rendezvous and docking were acquired, flights up to a fortnight were achieved, and men “walked” in space outside their craft.
		The third stage of space exploration was the lunar program, beginning with approaches to the Moon and going on through automatic surveys of its surface to manned landings.
		The fourth stage of space exploration looked out beyond the Earth and the Moon to the possibilities of planetary exploration.
		In the mid-1980s the attention of the U.S. space program was focused primarily upon the potentials of the reusable space shuttle vehicle for extensive orbital research.
		</p>
	</section>
</article>

<script src="javascripts/history.js"></script>