<article class="Article">
	<h1 class="Heading">History of Tech</h1><a href="https://www.britannica.com/technology/history-of-technology">Link</a>
	<h2 class="SubHeading">Fragen</h2>
	<span class="Frage Bold">Wie lange dauert es den Text zu lesen? (2:35)</span>
	<section class="Intro">	
		<h2 class="SubHeading">Intro</h2>
		<p class="Content">	
			History of technology - the development over time of systematic techniques for making and doing things.
			<br>
			Technology - The means or activity by which man seeks to change or manipulate his environment
		</p>
		<p class="Content">
			Within each chronological phase a standard method has been adopted for surveying the technological experience and innovations. This begins with a brief review of the general social conditions of the period under discussion, and then goes on to consider the dominant materials and sources of power of the period, and their application to food production, manufacturing industry, building construction, transport and communications, military technology, and medical technology.
		</p>
		<p class="Content">
			Techniques are methods of creating new tools and products of tools, and the capacity for constructing such artifacts is a determining characteristic of humanlike species. Other species make artifacts: bees build elaborate hives to deposit their honey, birds make nests, and beavers build dams. But these attributes are the result of patterns of instinctive behaviour and cannot be varied to suit rapidly changing circumstances. Humanity, in contrast with other species, does not possess highly developed instinctive reactions but does have the capacity to think systematically and creatively about techniques. Humans can thus innovate and consciously modify the environment in a way no other species has achieved. An ape may on occasion use a stick to beat bananas from a tree, but a man can fashion the stick into a cutting tool and remove a whole bunch of bananas. Somewhere in the transition between the two, the hominid, the first manlike species, emerges. By virtue of his nature as a toolmaker, man is therefore a technologist from the beginning, and the history of technology encompasses the whole evolution of humankind.
		</p>
		<p class="Content">
			To simplify the relationship as much as possible, there are three points at which there must be some social involvement in technological innovation: <span class="Bold">social need, social resources, and a sympathetic social ethos</span>. In default of any of these factors it is unlikely that a technological innovation will be widely adopted or be successful.
			Whatever the source of <span class="Bold">social need</span>, it is essential that enough people be conscious of it to provide a market for an artifact or commodity that can meet the need.
			<span class="Bold">Social resources</span> are similarly an indispensable prerequisite to a successful innovation. Many inventions have foundered because the social resources vital for their realization—the capital, materials, and skilled personnel—were not available
			The resource of capital involves the existence of surplus productivity and an organization capable of directing the available wealth into channels in which the inventor can use it.
			A <span class="Bold">sympathetic social ethos</span> implies an environment receptive to new ideas, one in which the dominant social groups are prepared to consider innovation seriously.
			Whatever the psychological basis of inventive genius, there can be no doubt that the existence of socially important groups willing to encourage inventors and to use their ideas has been a crucial factor in the history of technology.
			Social conditions are thus of the utmost importance in the development of new techniques
		</p>
	</section>
	<section class="StoneAge">
		<h2 class="SubHeading">Stone Age technology - to 3000bce</h2>
		<p class="Content">
			For all except approximately the past 10,000 years, humans lived almost entirely in small nomadic communities dependent for survival on their skills in gathering food, hunting and fishing, and avoiding predators. It is reasonable to suppose that most of these communities developed in tropical latitudes, especially in Africa, where climatic conditions are most favourable to a creature with such poor bodily protection as humans have
		</p>
		<p class="Content">
			Toward the end of the last ice age, some 15,000 to 20,000 years ago, a few of the communities that were most favoured by geography and climate began to make the transition from the long period of Paleolithic, or Old Stone Age, savagery to a more settled way of life depending on animal husbandry and agriculture.
			This period of transition, the Neolithic Period, or New Stone Age, led eventually to a marked rise in population, to a growth in the size of communities, and to the beginnings of town life. It is sometimes referred to as the Neolithic Revolution because the speed of technological innovation increased so greatly and human social and political organization underwent a corresponding increase in complexity. To understand the beginnings of technology, it is thus necessary to survey developments from the Old Stone Age through the New Stone Age down to the emergence of the first urban civilizations about 3000 bce.
			Stones became tools only when they were shaped deliberately for specific purposes, and, for this to be done efficiently, suitable hard and fine-grained stones had to be found and means devised for shaping them and particularly for putting a cutting edge on them.
			Flint became a very popular stone for this purpose, although fine sandstones and certain volcanic rocks were also widely used. There is much Paleolithic evidence of skill in flaking and polishing stones to make scraping and cutting tools. These early tools were held in the hand, but gradually ways of protecting the hand from sharp edges on the stone, at first by wrapping one end in fur or grass or setting it in a wooden handle, were devised. Much later the technique of fixing the stone head to a haft converted these hand tools into more versatile tools and weapons.
			With the widening mastery of the material world in the Neolithic Period, other substances were brought into service, such as clay for pottery and brick, and increasing competence in handling textile raw materials led to the creation of the first woven fabrics to take the place of animal skins. About the same time, curiosity about the behaviour of metallic oxides in the presence of fire promoted one of the most significant technological innovations of all time and marked the succession from the Stone Age to the Metal Age.
		</p>
		<h2 class="SubHeading">Power</h2>
		<p class="Content">
			The use of fire was another basic technique mastered at some unknown time in the Old Stone Age. The discovery that fire could be tamed and controlled and the further discovery that a fire could be generated by persistent friction between two dry wooden surfaces were momentous.
			It also seems likely that by the end of prehistoric times the sail had emerged as a means of harnessing the wind for small boats, beginning a long sequence of developments in marine transport.
		</p>
		<h2 class="SubHeading">Tools and weapons</h2>
		<p class="Content">
			 the stone-headed spear, the harpoon, and the arrow all came into widespread use.
			  slings, throwing-sticks , blowguns, bird snares, fish and animal traps, and nets
			  first mechanical applications of rotary action in the shape of the potter’s wheel, the bow drill, the pole lathe, and the wheel itself. 
			  With the onset of the Neolithic Revolution, new food-producing skills were devised to serve the needs of agriculture and animal husbandry. Digging sticks and the first crude plows, stone sickles, querns that ground grain by friction between two stones and, most complicated of all, irrigation techniques for keeping the ground watered and fertile—all these became well established in the great subtropical river valleys of Egypt and Mesopotamia in the millennia before 3000 bce.
		</p>
		<h2 class="SubHeading">Building techniques</h2>
		<p class="Content">
			in the New Stone Age some impressive structures were erected, primarily tombs and burial mounds and other religious edifice
			domestic housing in which sun-dried brick was first used
			 In northern Europe, where the Neolithic transformation began later than around the eastern Mediterranean and lasted longer, huge stone monuments, of which Stonehenge in England is the outstanding example
		</p>
		<h2 class="SubHeading">Manufactoring</h2>
		<p class="Content">
			Manufacturing industry had its origin in the New Stone Age, with the application of techniques for grinding corn, baking clay, spinning and weaving textiles, and also, it seems likely, for dyeing, fermenting, and distillin
			 In the same way, the early metalworkers were beginning to acquire the techniques of extracting and working the softer metals, gold, silver, copper, and tin, that were to make their successors a select class of craftsmen.
			 All these incipient fields of specialization, moreover, implied developing trade between different communities and regions for the transfer of manufactured products in the later Stone Age
			 Such transmission suggests improving facilities for transport and communication
			 Such transmission suggests improving facilities for transport and communication. Paleolithic people presumably depended entirely on their own feet, and this remained the normal mode of transport throughout the Stone Age. Domestication of the ox, the donkey, and the camel undoubtedly brought some help
			 The dugout canoe and the birch-bark canoe demonstrated the potential of water transport, and, again, there is some evidence that the sail had already appeared by the end of the New Stone Age.
		</p>
	</section>
	<section class="Urban Revolution">
		<h2 class="SubHeading">Urban Revolution - 3000-500bce</h2>
		<p class="Content">
			 About 5,000 years ago a momentous cultural transition began to take place in a few well-favoured geographical situations it was the beginning of the invention of the city.
		</p>
		<h2 class="SubHeading">Craftsmen and scientists</h2>
		<p class="Content">
			Then came the discovery of the possibility of extracting certain metals from the ores in which they generally occur.
			 It led to the search for other metallic ores, to the development of metallurgy, to the encouragement of trade in order to secure specific metals, and to the further development of specialist skills. It contributed substantially to the emergence of urban societies, as it relied heavily upon trade and manufacturing industries, and thus to the rise of the first civilizations
			 he first fruits of this relationship appeared in greatly improved abilities to measure land, weigh, and keep time, all practical techniques, essential to any complex society, and inconceivable without literacy and the beginnings of scientific observation
		</p>
		<h2 class="SubHeading">Copper and bronze</h2>
		<p class="Content">
			Attention was thus given early to means of hardening copper to make satisfactory tools and weapons. The reduction of mixed metallic ores probably led to the discovery of alloying, whereby copper was fused with other metals to make bronze
			The bronzesmiths took over from the coppersmiths and goldsmiths the technique of heating the metal in a crucible over a strong fire and casting it into simple clay or stone molds to make axheads or spearheads or other solid shapes. For the crafting of hollow vessels or sculpture, they devised the so-called cire perdue technique, in which the shape to be molded is formed in wax and set in clay, the wax then being melted and drained out to leave a cavity into which the molten metal is poured. There were no great innovations in power technology, but important improvements were made in the construction of furnaces and kilns in response to the requirements of the metalworkers and potters and of new artisans such as glassworkers. 
			Also, the sailing ship assumed a definitive shape, progressing from a vessel with a small sail rigged in its bows and suitable only for sailing before the prevailing wind up the Nile River, into the substantial oceangoing ship of the later Egyptian dynasties, with a large rectangular sail rigged amidships.
		</p>
		<h2 class="SubHeading">Irrigation</h2>
		<p class="Content">
		Techniques of food production also showed many improvements over Neolithic methods, including one outstanding innovation in the shape of systematic irrigation.The Nile flooded with regularity each summer, and the civilizations building in its valley early learned the technique of basin irrigation, ponding back the floodwater for as long as possible after the river had receded, so that enriched soil could bring forth a harvest before the floods of the following season. These systems, however, depended on a high degree of social control, requiring skill in measuring and marking out the land and an intricate legal code to ensure justice in the distribution of precious water. Both systems, moreover, depended on intricate engineering in building dikes and embankments, canals and aqueducts (with lengthy stretches underground to prevent loss by evaporation), and the use of water-raising devices such as the shadoof, a balanced beam with a counterweight on one end and a bucket to lift the water on the other.
		</p>
		<h2 class="SubHeading">Urban manufactoring</h2>
		<p class="Content">
			the potter’s wheel became widely used for spinning the clay into the desired shape
			. In the production of wines and oils various forms of press were developed.Pack animals were still the primary means of land transport, the wheeled vehicle developing slowly to meet the divergent needs of agriculture, trade, and war
		</p>
		<h2 class="SubHeading">Building</h2>
		<p class="Content">
			 Sumerians were also the first to build columns with brick made from local clay, which also provided the writing material for the scribes.
		</p>
	</section>
	<section class="RomeSection">
		<h2 class="SubHeading">Greece and Rome (500bce-500ce)</h2>
		<p class="Content">
		The contributions of Greece and Rome in philosophy and religion, political and legal institutions, poetry and drama, and in the realm of scientific speculation stand in spectacular contrast with their relatively limited contributions in technology. their work represented more a consummation of earlier lines of development than a dramatic innovation
		</p>
		<h2 class="SubHeading">The mastery of iron</h2>
		<p class="Content">
			The outstanding technological factor of the Greco-Roman world was the smelting of iron, a technique—derived from unknown metallurgists
		</p>
		<h2 class="SubHeading">Mechanical contrivances</h2>
		<p class="Content">
			basic mechanical contrivances as the screw, the pulley, and the lever. This was exemplified in the use of the treadmill for powering cranes and other heavy lifting operations, the introduction of rotary water-raising devices for irrigation works (a scoop wheel powered by a treadmill), and the development of the waterwheel as a prime mover
		</p>
		<h2 class="SubHeading">Agriculture</h2>
		<p class="Content">
			Iron Age technology was applied to agriculture in the form of the iron (or iron-tipped) plowshare, which opened up the possibility of deeper plowing and of cultivating heavier soils than those normally worked in the Greco-Roman period
			 Elsewhere, in the drier climates of North Africa and Spain, the Romans were responsible for extensive irrigation systems, using the Archimedean screw and the noria (an animal- or water-powered scoop wheel) to raise water.
		</p>
		<h2 class="SubHeading">Building</h2>
		<p class="Content">
			The Romans copied the Greek style for most ceremonial purposes, but in other respects they were important innovators in building technology. They made extensive use of fired brick and tile as well as stone; they developed a strong cement that would set under water; and they explored the architectural possibilities of the arch, the vault, and the dome. They then applied these techniques in amphitheatres, aqueducts, tunnels, bridges, walls, lighthouses, and roads.
		</p>
		<h2 class="SubHeading">Transport</h2>
		<p class="Content">
		he Greeks began to develop a specialized fighting ship, provided with a ram in the prow, and the cargo ship, dispensing with oarsmen and relying entirely upon the wind, was also well established by the early years of Classical Greece.They gave much more attention to inland transport than to the sea, and they constructed a remarkable network of carefully aligned and well-laid roads, often paved over long stretches, throughout the provinces of the empire. Along these strategic highways the legions marched rapidly to the site of any crisis at which their presence was required. The roads also served for the development of trade, but their primary function was always military, as a vital means of keeping a vast empire in subjection.
		</p>
		<h2 class="SubHeading">Military technology</h2>
		<p class="Content">
			Roman military technology was inventive on occasion, as in the great siege catapults, depending on both torsion and tension power.
		</p>
	</section>
	<section class="MiddleAgesSection">
		<h2 class="SubHeading">Medieval advance 500-1500ce</h2>
		<p class="Content">
			The history of medieval technology is thus largely the story of the preservation, recovery, and modification of earlier achievements. But by the end of the period Western civilization had begun to produce some remarkable technological innovations that were to be of the utmost significance.
			the Western world of 500–1500 was forced to solve most of its problems on its own initiative. In doing so it transformed an agrarian society based upon a subsistence economy into a dynamic society with increased productivity sustaining trade, industry, and town life on a steadily growing scale. This was primarily a technological achievement, and one of considerable magnitude.
		</p>
		<h2 class="SubHeading">Power</h2>
		<p class="Content">
		The first instrument of this power revolution was the horse. By the invention of the horseshoe, the padded, rigid horse collar, and the stirrup, all of which first appeared in the West in the centuries of the Dark Ages, the horse was transformed from an ancillary beast of burden useful only for light duties into a highly versatile source of energy in peace and war.Even more significant was the success of medieval technology in harnessing water and wind power. The type of water mill that flourished first in northern Europe, however, appears to have been the Norse mill, using a horizontally mounted waterwheel driving a pair of grindstones directly.What is certain is that the windmill became widely used in Europe in the Middle Ages
		</p>
		<h2 class="SubHeading">Agriculture and crafts</h2>
		<p class="Content">
			 replacement of the ox by the faster gaited horse and the introduction of new crops brought about a distinct improvement in the quantity and variety of food
			 Meanwhile, the traditional crafts flourished within the expanding towns, where there was a growing market for the products of the rope makers, barrel makers (coopers), leatherworkers (curriers), and metalworkers (goldsmiths and silversmiths), to mention only a few of the more important crafts. New crafts such as that of the soapmakers developed in the towns. the development of the coal industry in northern Europe constitutes another important medieval innovation, no previous civilization having made any systematic attempt to exploit coal. The extent of this evolution was brilliantly summarized by Georgius Agricola in his De re metallica, published in 1556. This large, abundantly illustrated book shows techniques of shafting, pumping (by treadmill, animal power, and waterpower), and of conveying the ore won from the mines in trucks, which anticipated the development of the railways
		</p>
		<h2 class="SubHeading">Architecture</h2>
		<p class="Content">
			heir solutions to the problems of constructing very tall masonry buildings while preserving as much natural light as possible were the cross-rib vault, the flying buttress, and the great window panels providing scope for the new craft of the glazier using coloured glass with startling effect.
		</p>
		<h2 class="SubHeading">Military technology</h2>
		<p class="Content">
			The same period saw the evolution of the fortified stronghold from the Anglo-Saxon motte-and-bailey, a timber tower encircled by a timber and earth wall, to the formidable, fully developed masonry castle that had become an anachronism by the end of the Middle Ages because of the development of artillery. Intrinsic to this innovation were the invention of gunpowder and the development of techniques for casting metals, especially iron. 
			The first effective cannon appear to have been made of wrought-iron bars strapped together, but although barrels continued to be made in this way for some purposes, the practice of casting cannon in bronze became widespread. The technique of casting in bronze had been known for several millennia, but the casting of cannon presented problems of size and reliability.
			 manufacture of cast iron is the great metallurgical innovation of the Middle Ages. It must be remembered that from the beginning of the Iron Age until late in the Middle Ages the iron ore smelted in the available furnaces had not been completely converted to its liquid form. In the 15th century, however, the development of the blast furnace made possible this fusion, with the result that the molten metal could be poured directly into molds ready to receive it. 
		</p>
		<h2 class="SubHeading">Transport</h2>
		<p class="Content">
		t: the creation of a reliable oceangoing ship depending entirely on wind power instead of a combination of wind and muscle.The convergence of these improvements in the ships of the later Middle Ages, together with other improvements in construction and equipment—such as better barrels for carrying water, more reliable ropes, sails, and anchors, the availability of navigational charts (first recorded in use on board ship in 1270), and the astrolabe (for measuring the angle of the Sun or a star above the horizon)—lent confidence to adventurous mariners and thus led directly to the voyages of discovery that marked the end of the Middle Ages and the beginning of the expansion of Europe that has characterized modern times.
		</p>
		<h2 class="SubHeading">Communications</h2>
		<p class="Content">
			 The medieval interest in mechanical contrivances is well illustrated by the development of the mechanical clock, the oldest of which, driven by weights and controlled by a verge, an oscillating arm engaging with a gear wheel, and dated 1386, survives in Salisbury Cathedral, England. Clocks driven by springs had appeared by the mid-15th century, making it possible to construct more compact mechanisms and preparing the way for the portable clock.
			 Even more significant than the invention of the mechanical clock was the 15th-century invention of printing with movable metal type.
			 The intellectual curiosity that led to the foundation of the first universities in the 12th century and applied itself to the recovery of the ancient learning from whatever source it could be obtained was the mainspring also of the technological resourcefulness that encouraged the introduction of the windmill, the improvement and wider application of waterpower, the development of new industrial techniques, the invention of the mechanical clock and gunpowder, the evolution of the sailing ship, and the invention of large-scale printing
		</p>
	</section>
	<section class="WesternSection">
		<h2 class="SubHeading">Western techonlogy 1500-1750</h2>
		<p class="Content">
			Technology performed a service for science in this revolution by providing it with instruments that greatly enhanced its powers. The use of the telescope by Galileo to observe the moons of Jupiter was a dramatic example of this service, but the telescope was only one of many tools and instruments that proved valuable in navigation, mapmaking, and laboratory experiments. More significant were the services of the new sciences to technology, and the most important of these was the theoretical preparation for the invention of the steam engine.
			 Although waterpower and wind power remained the basic sources of power for industry, a new prime mover had thus appeared in the shape of the steam engine, with tremendous potential for further development as and when new applications could be found for it.
		</p>
		<h2 class="SubHeading">Metallurgy and mining</h2>
		<p class="Content">
			 In ceramics, for instance, the long efforts of European manufacturers to imitate the hard, translucent quality of Chinese porcelain culminated in Meissen at the beginning of the 18th century; the process was subsequently discovered independently in Britain in the middle of the century.
		</p>
		<h2 class="SubHeading">New commodities</h2>
		<p class="Content">
			Tea became an important trade commodity but was soon surpassed in volume and importance by the products of specially designed plantations, such as sugar, tobacco, cotton, and cocoa. Sugar refining, depending on the crystallization of sugar from the syrupy molasses derived from the cane, became an important industry. So did the processing of tobacco, for smoking in clay pipes (produced in bulk at Delft and elsewhere) or for taking as snuff. Cotton had been known before as an Eastern plant, but its successful transplantation to the New World made much greater quantities available and stimulated the emergence of an important new textile industry.
			It was not until the rapid rise of the cotton cloth industry that the old, balanced industrial system was seriously upset and that a new, mechanized system, organized on the basis of factory production, began to emerge.
		</p>
		<h2 class="SubHeading">Agriculture</h2>
		<p class="Content">
		Another major area that began to show signs of profound change in the 18th century was agriculture. Stimulated by greater commercial activity, the rising market for food caused by an increasing population aspiring to a higher standard of living.
		Again, it consisted of using this money for technical improvements, taking the form of machinery—such as Jethro Tull’s mechanical sower—of better drainage, of scientific methods of breeding to raise the quality of livestock, and of experimenting with new crops and systems of crop rotation. The process has often been described as an agricultural revolution, but it is preferable to regard it as an essential prelude to and part of the Industrial Revolution.
		</p>
		<h2 class="SubHeading">Construction</h2>
		<p class="Content">
		The practice of building in stone and brick became general.Glass was also beginning to become an important feature of buildings of all sorts, encouraging the development of an industry that still relied largely on ancient skills of fusing sand to make glass and blowing, molding, and cutting it into the shapes required.
		</p>
		<h2 class="SubHeading">Transport and communications</h2>
		<p class="Content">
			The sea remained the greatest highway of commerce, stimulating innovation in the sailing ship.
			The needs of reliable navigation created a demand for better instruments. The quadrant was improved by conversion to the octant, using mirrors to align the image of a star with the horizon and to measure its angle more accurately: with further refinements the modern sextant evolved
		</p>
		<h2 class="SubHeading">Chemistry</h2>
		<p class="Content">
			For the most part, pharmacy still relied upon recipes based on herbs and other natural products, but the systematic preparation of these eventually led to the discovery of useful new drugs.
			The period from 1500 to 1750 witnessed the emergence of Western technology in the sense that the superior techniques of Western civilization enabled the nations that composed it to expand their influence over the whole known world. Yet, with the exception of the steam engine, this period was not marked by outstanding technological innovation. What was, perhaps, more important than any particular innovation was the evolution, however faltering and partial and limited to Britain in the first place, of a technique of innovation, or what has been called “the invention of invention.” The creation of a political and social environment conducive to invention, the building up of vast commercial resources to support inventions likely to produce profitable results, the exploitation of mineral, agricultural, and other raw material resources for industrial purposes, and, above all, the recognition of specific needs for invention and an unwillingness to be defeated by difficulties, together produced a society ripe for an industrial revolution based on technological innovation. The technological achievements of the period 1500–1750, therefore, must be judged in part by their substantial contribution to the spectacular innovations of the following period.
		</p>
	</section>
	<section class="IndustrialSection">
		<h2 class="SubHeading">Industrial Revolution - 1750-1900</h2>
		<h2 class="SubHeading">Power </h2>
		<p class="Content">	
			Steam did not simply replace other sources of power: it transformed them. The same sort of scientific inquiry that led to the development of the steam engine was also applied to the traditional sources of inanimate energy, with the result that both waterwheels and windmills were improved in design and efficiency. Numerous engineers contributed to the refinement of waterwheel construction, and by the middle of the 19th century new designs made possible increases in the speed of revolution of the waterwheel and thus prepared the way for the emergence of the water turbine, which is still an extremely efficient device for converting energy.
		</p>
		<h2 class="SubHeading">Windmills</h2>
		<p class="Content">
			Meanwhile, British windmill construction was improved considerably by the refinements of sails and by the self-correcting device of the fantail, which kept the sails pointed into the wind.
			Windmills that had satisfactorily provided power for small-scale industrial processes were unable to compete with the production of large-scale steam-powered mills.
		</p>
	</section>
	<h2 class="SubHeading">Steam engines</h2>
	<p class="Content">
		Although the qualification regarding older sources of power is important, steam became the characteristic and ubiquitous power source of the British Industrial Revolution. Full success in achieving a high-speed steam engine, however, depended on the steam turbine, a design of such novelty that it constituted a major technological innovation
	</p>
	<h2 class="SubHeading">Electricity</h2>
	<p class="Content">
		Both generators and motors underwent substantial development in the middle decades of the 19th century. In particular, French, German, Belgian, and Swiss engineers evolved the most satisfactory forms of armature (the coil of wire) and produced the dynamo, which made the large-scale generation of electricity commercially feasible.The next problem was that of finding a market.Lighting alone could not provide an economical market for electricity because its use was confined to the hours of darkness. Successful commercial generation depended upon the development of other uses for electricity, and particularly on electric traction. The subsequent spread of this form of energy is one of the most remarkable technological success stories of the 20th century, but most of the basic techniques of generation, distribution, and utilization had been mastered by the end of the 19th century.
	</p>
	<h2 class="SubHeading">Internal-combustion engine</h2>
	<p class="Content">
		Electricity does not constitute a prime mover, for however important it may be as a form of energy it has to be derived from a mechanical generator powered by water, steam, or internal combustion. The internal-combustion engine is a prime mover, and it emerged in the 19th century as a result both of greater scientific understanding of the principles of thermodynamics and of a search by engineers for a substitute for steam power in certain circumstances.
	</p>
	<h2 class="SubHeading">Petroleum</h2>
	<p class="Content">
		The economic potential for the internal-combustion engine lay in the need for a light locomotive engine. This could not be provided by the gas engine, depending on a piped supply of town gas, any more than by the steam engine, with its need for a cumbersome boiler; but, by using alternative fuels derived from oil, the internal-combustion engine took to wheels, with momentous consequences.
	</p>
	<h2 class="SubHeading">Metallurgy</h2>
	<p class="Content">
		 The development of techniques for working with iron and steel was one of the outstanding British achievements of the Industrial Revolution. The essential characteristic of this achievement was that changing the fuel of the iron and steel industry from charcoal to coal enormously increased the production of these metals
	</p>
	<h2 class="SubHeading">Iron and steel</h2>
	<p class="Content">
	The result of this series of innovations was that the British iron and steel industry was freed from its reliance upon the forests as a source of charcoal and was encouraged to move toward the major coalfields. Abundant cheap iron thus became an outstanding feature of the early stages of the Industrial Revolution in Britain. Cast iron was available for bridge construction, for the framework of fireproof factories, and for other civil-engineering purposes such as Thomas Telford’s novel cast-iron aqueducts.Steel was to made available in bulk instead of small-scale ingots of cast crucible steel, and thenceforward steel steadily replaced wrought iron as the major commodity of the iron and steel industry.
	</p>
	<h2 class="SubHeading">Low-grade ores</h2>
	<p class="Content">
	The transition to cheap steel did not take place without technical problems, one of the most difficult of which was the fact that most of the easily available low-grade iron ores in the world contain a proportion of phosphorus, which proved difficult to eliminate but which ruined any steel produced from them. The problem was solved by the British scientists S.G. Thomas and Percy Gilchrist, who invented the basic slag process.
	The most important effect of this innovation was to make the extensive phosphoric ores of Lorraine and elsewhere available for exploitation. 
	</p>
	<h2 class="SubHeading">Mechanical engineering</h2>
	<p class="Content">
		Closely linked with the iron and steel industry was the rise of mechanical engineering, brought about by the demand for steam engines and other large machines, 
	</p>
	<h2 class="SubHeading">Textiles</h2>
	<p class="Content">

	</p>
</article>