<header class="Header">
 <h2 class="Heading">
 	HTML Glossar
 </h2>
</header>
<table class="Table ElementsTable">
	<tr>
		<td>a</td><td> creates a hyperlink to other web pages, files, locations within the same page, email addresses, or any other URL.</td>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
</table>