
<h2>Interfaces </h2>
<a href="/login"> Login</a>
<a href="/login2"> Login2</a>
<a href="/login3"> Login3</a>
<a href="/flyingcar">FlyingCar</a>
<a href="/forex">Forex</a>
<a href="/historyoftech">History of Tech</a>
<h2>CSS</h2>
<a href="/cssblank">Blank</a>
<a href="/cssgenerator">Random Generator</a>
<a href="/talkbyra">Grid - Talk by Rachel Andrew</a>
<h2>JS</h2>
<a href="/jsblank">Blank</a>
<a href="/jsgenerator">Random Generator</a>
<a href="/speakingjs">ES5 - Speaking JS</a>
<h2 class="TestText">HTTP</h2>
<a href="/http">HTTP - Odetocode Article</a>
