

<a href="/historyoftech">History of Tech</a>
<h2>CSS</h2>
<a href="/cssblank">Blank</a>
<a href="/cssgenerator">Random Animation</a>
<a href="/talkbyra">Grid - Talk by Rachel Andrew</a>
<a href="/gridexample">Grid By Example</a>
<h2>JS</h2>
<a href="/jsblank">Blank</a>
<a href="/jsgenerator">Random  Array</a>
<a href="/speakingjs">ES5 - Speaking JS</a>
<h2 class="TestText">HTTP</h2>
<a href="/http">HTTP - Odetocode Article</a>
