<header class="Header">
	<h1 class="Heading">Index</h1>
</header>
<main class="Main">
	<section class="Section AppSection">
		<h2>App</h2> 
		<a href="/historyoftech">History of Tech</a>
	</section>
	<section class="Section CSSSection">
		<h2>CSS</h2>
		<a href="/cssblank">Blank</a>
		<a href="/cssglossar">Glossar</a>
		<a href="/talkbyra">Grid - Talk</a>
		<a href="/gridexample">Grid By Example</a>
	</section>
	<section class="Section HTMLSection">
		<h2>HTML</h2>
		<a href="/htmlglossar">HTML Glossar</a>
	</section>
	<section class="Section DOMSection">
		<h2>DOM</h2>
		<a href="/domglossar">DOM Glossar</a>
	</section>
	<section class="Section ProductSection">
		<h2>Product design</h2>
		<a href="/productdesign">Product Design - Udacity course</a>
	</section>
	<section class="Section JSSection">
		<h2>JS</h2>
		<a href="/jsblank">Blank</a>
		<a href="/jsglossar">Glossar</a>
		<a href="/jsgenerator">Random  Array</a>
		<a href="/speakingjs">ES5 - Speaking JS</a>
	</section>
	<section class="Section HTTPSection">
		<h2 class="TestText">HTTP</h2>
		<a href="/http">HTTP - Odetocode Article</a>
	</section>
</main>