

<section class="Section">
<a href="/historyoftech">History of Tech</a>
</section>
<section class="Section CSSSection">
	<h2>CSS</h2>
	<a href="/cssblank">Blank</a>
	<a href="/animationglossar">Animation glossar</a>
	<a href="/cssgenerator">Random Animation</a>
	<a href="/talkbyra">Grid - Talk</a>
	<a href="/gridexample">Grid By Example</a>
</section>
<section class="Section JSSection">
	<h2>JS</h2>
	<a href="/jsblank">Blank</a>
	<a href="/jsglossar">Glossar</a>
	<a href="/jsgenerator">Random  Array</a>
	<a href="/speakingjs">ES5 - Speaking JS</a>
</section>
<section class="Section HTTPSection">
	<h2 class="TestText">HTTP</h2>
	<a href="/http">HTTP - Odetocode Article</a>
</section>