<header class="Header">
	<h1 class="Heading">JSBlank</h1>
</header>
<div class="Canvas">
	<div class="Box Box1"></div>
	<div class="Box Box2"></div>
	<div class="Box Box3"></div>
	<div class="Box Box4"></div>
	<div class="Box Box5"></div>
	<div class="Box Box6"></div>
</div>
<script src="javascripts/jsblank.js"></script>