<h1>JSGenerator</h1>
<h2>Aufgabe 1</h2>
<p></p>
<h2>Aufgabe 2</h2>
<p></p>
<h2>Aufgabe 3</h2>
<p></p>
<h2>Aufgabe 4</h2>
<p>Input: </p>
<p>Output: </p>
<h2>Aufgabe 5</h2>
<p>Input: </p>
<p>Output: </p>
<h2>Aufgabe 6</h2>
<p class="Input6">Input </p>
<p class="Output6">Output </p>


<script src="javascripts/jsgenerator.js"></script>