	<div class="LeftSide">
		<div class="Mars"></div>
		<h1 class="Heading">Martian</h1>
		<div class="Star SmallStar Star1"></div>
		<div class="Star MediumStar Star2"></div>
		<div class="Star BigStar Star3"></div>
		<div class="Star SmallStar Star4"></div>
		<div class="Star SmallStar Star5"></div>
		<div class="Star SmallStar Star6"></div>
		<div class="Star SmallStar Star7"></div>
		<div class="Star MediumStar Star8"></div>
		<div class="FallingStar FallingStar1"></div>
		<div class="FallingStar FallingStar2"></div>
	</div>
	<div class="Form" method="POST" action="">
		<input class="InputField Name" type="text" placeholder="Username">
		<input class="InputField Password" type="password" placeholder="Password">
		<input type="submit" class="FormButton Signin" value="Sign In">
		<input type="submit" class="FormButton Signup" value="Sign Up">
		<a href="#" class="Forgot">Forgot Password?</a>
	</div>