<div class="Background">

</div>
<div class="LoginWrapper">
	<header class="Header">
		<div class="LogoWrapper">
			<i class="fa fa-tint Logo" aria-hidden="true"></i>
		</div>
		<h1 class="Heading">Surfstat</h1>
		<a href="#" class="Close">
			x
		</a>
	</header>
	<form action="" class="SurfForm" method="post">
		<div class="InputWrapper NameWrapper">
			<label for="name" class="Label">Full Name</label>
		    <input type="text" class="InputField NameInput" id="name" placeholder="Full Name">
		</div>
		<div class="InputWrapper EmailWrapper">
		   	<label for="email" class="Label">Email Address</label>
		    <input type="text" class="InputField EmailInput" id="email" placeholder="Email">
		</div>
		<div class="InputWrapper StatusWrapper">
		    <label for="status" class="Label">status</label>		    
		    <select name="select" class="Select" id="status">
		  		<option value="value1">Amateur</option> 
		  		<option value="value2" selected>Professional</option>
		  		<option value="value3">Trainer</option>
			</select>
		</div>
		<div class="InputWrapper LocationWrapper">
		   <label for="location" class="Label">location</label>
		    <input type="text" class="InputField LocationInput" id="location" placeholder="E.g California...">	
		</div>
		<input type="submit" class="Submit" value="Sign Up">

	</form>

	<footer class="Footer">
		<div class="FacebookWrapper">
			<i class="fa fa-facebook" aria-hidden="true"></i>
			<div class="TextAndLabel">
				<span class="Silver">Connect with</span>
				<span class="Facebook">Facebook</span>
			</div>
		</div>
		<div class="TwitterWrapper">
			<i class="fa fa-twitter" aria-hidden="true"></i>
			<div class="TextAndLabel">
				<span class="Silver">Connect with</span>
				<span class="Twitter ">Twitter</span>
			</div>
		</div>
	</footer>
</div>


