<header class="Header">
	<h2 class="Heading">Product Design</h2>
</header>
<main class="Main">
	<ul>
		<li>Because start ups are risky and costly business, it is always wise to validate early on, build only what you need, and not more. And iterate as fast as you can</li>
		<li>A/B test means taking a look at the website and come up with hypotheses of how this could be made better. And after a whole bunch of these experiments, you are able to measure that a particular change actually improves/harms the conversion rate.</li>
		<li>Generate Ideas and evaluate them against each other. Then you validate your ideas so you know you are working on a product that has a place in the market</li>
		<li>Learn high level conserns about user experience and user interaction to have a strong sense of the big questions you need to answer about user experience and also identify common design elements in products</li>
		<li>With a validated idea and the knowledge of userexperience you can build mockups through a design sprints and get real feedback from users in just a few days</li>
		<li>Metrics help you figure out how to improve the product</li>
		<li>In the end you have gone through the effort of generating, researching, validating and testing a mock up</li>
		<li>It's a key Idea to make sure you are solving something that solver a real problem</li>
		<li>Products that neccesites habits, require people to come back on their on, need a hook. The hook process starts with a trigger to an action to reward and then an investment</li>
</main>