<h1>Forex</h1>
<nav class="Navigation">
	<a href="#" class="Button SetHeightButton">SetHeight</a>
	<a href="#" class="Button ShowMaxButton">ShowMax</a>
	<a href="#" class="Button ShowMinButton">ShowMin</a>
	<a href="#" class="Button ShowTriggerButton">ShowTrigger</a>
	<a href="#" class="Button ShowCloseButton">ShowClose</a>
	<a href="#" class="Button ShowTradesButton">ShowTrades</a>
</nav>
<div class="Chart">
	<div class="Line Trigger hidden">Trigger</div>
	<div class="Line ClosePoint hidden">Closepoint</div>
	<svg height="210"class="SVG hidden">
  		<line class="SVGLine" x1="00" y1="00" x2="400" y2="80" style="stroke:rgb(255,0,0);stroke-width:2" />
	</svg>
</div>
<div class="Resultat"></div>

<script src="javascripts/trader.js"></script> 