<h1>Forex</h1>
<div class="Chart">
	<div class="Line Trigger">Trigger</div>
	<div class="Line ClosePoint">Closepoint</div>
</div>
<div class="Resultat"></div>
<a href="#" class="Button">FindTrades</a>
<script src="javascripts/trader.js"></script>