<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='/stylesheets/forex.css' />
  </head>
  <body class="Body">
    {{{body}}}
  </body>
</html>
