<h1 class="TestText">CSS SANDBOX</h1>
<table class="Table">
	<tr class="bold">
		<td class="wide"> <a href="/animations" >Animations<a/></td><td>Values</td><td>Bedetung</td>
	</tr>
	<tr>
		<td>animation-name</td><td>none, String</td><td>specifies a list of animations that should be applied to the selected element. Each name indicates a @keyframes at-rule that defines the property values for the animation sequence.</td>
	</tr>
	<tr>	
		<td>animation-delay</td><td>time</td><td> specifies when the animation should start</td>
	</tr>
	<tr>	
		<td>animation-direction</td><td>normal, reverse, alternate, alternate-reverse</td><td>indicates whether the animation should play in reverse on alternate cycles</td>
	</tr>	
	<tr>
		<td>animation-fill-mode</td><td>none, forwards, backwards, both </td><td>specifies how a CSS animation should apply styles to its target before and after it is executing.</td>
	</tr>	
	<tr>	
		<td>animation-iteration-count</td><td>infinite, number</td><td>defines the number of times an animation cycle should be played before stopping</td>
	</tr>
	<tr>	
		<td>animation-play-state</td><td>running, paused</td><td>determines whether an animation is running or paused.</td>
	</tr>
	<tr>	
		<td>animation-duration</td><td>time</td><td>specifies the length of time that an animation should take to complete one cycle</td>
	</tr>
	<tr>	
		<td>animation-timing-function</td><td>ease, ease-in, ease-out, ease-in-out, linear, step-start, step-end, cubic-bezier(0,0,0,0),steps(2,end),</td><td>specifies how a CSS animation should progress over the duration of each cycle.</td>
	</tr>
	<tr>	
		<td>@keyframes</td><td>from, to, percentage</td><td>lets authors control the intermediate steps in a CSS animation sequence by establishing keyframes (or waypoints) along the animation sequence</td>
	</tr>
	<tr>	
		<td>-timing-function-</td><td>steps,cubic-bezier, keywords</td><td>describes how fast one-dimensional values change during transitions or animations</td>
	</tr>
</table>
<table>
	<tr class="bold">
		<td class="wide"> Transitions</td><td>Values</td><td>Bedetung</td>
	</tr>
	<tr>
		<td></td><td></td><td></td>
	</tr>
</table>
<table>
	<tr class="bold">
		<td class="wide"> Transitions</td><td>Values</td><td>Bedetung</td>
	</tr>
	<tr>
		<td></td><td></td><td></td>
	</tr>
</table>