* {
	box-sizing: border-box;
}
*:after, *:before {
	box-sizing: inherit;
}
.Box {
	width:50px;
	height: 50px;
	background-color: silver;
	animation-name: a;
	animation-duration: .8s;
}
@keyframes a{
	0% {
		margin-top: 5px;
	}
	50% {
		margin-top: 50px;
	}
	100% {
		margin-top: 5px;
	}
}