* {
  box-sizing: border-box; }

*:after, *:before {
  box-sizing: inherit; }

.Frage {
  display: block; }

.Box {
  margin: 5px;
  width: 50px;
  height: 50px;
  background-color: silver;
  animation-name: a1;
  animation-duration: 3s; }

@keyframes a1 {
  0% {
    width: 100%; }
  100% {
    width: 50px; } }

.Box1 {
  width: 50px;
  height: 50px;
  background-color: silver;
  animation-name: a2;
  animation-duration: 1s;
  margin: 5px; }

@keyframes a2 {
  0% {
    margin-top: 5px; }
  50% {
    margin-top: 40px; }
  100% {
    margin-top: 5px; } }

.Box3 {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  background-color: silver;
  animation-name: animationthree;
  animation-duration: 3s;
  animation-iteration-count: 3;
  margin: 5px; }

@keyframes animationthree {
  from { }
  to {
    transform: rotate(90deg); } }

.Box4 {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: silver;
  animation-name: animationfour;
  animation-duration: 4s; }

@keyframes animationfour {
  from { }
  50% {
    margin-left: 50%; }
  100% {
    transform: rotate(180deg); } }
