* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: inherit; }

.Body {
  padding: 2rem; }

.SubHeading {
  font-size: 1.1rem; }

.Header {
  display: flex;
  align-items: center; }

.Heading {
  font-size: 1.5rem; }

.Info {
  align-self: start;
  color: black;
  text-decoration: none;
  background-color: black;
  color: white;
  width: 1.3rem;
  text-align: center;
  border-radius: 50%; }

.Rest {
  margin-left: auto; }

.Article {
  font-size: 1.1rem; }

.Bold {
  font-weight: 600; }

.Section {
  margin: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 10px; }

.IntroSection {
  display: none; }

.SubHeading:first-child {
  font-size: 1.3rem; }

.Section h2 {
  grid-row: 1;
  grid-column: 2 / -1; }

.SocialOrganizationSection h2 {
  grid-row: 1;
  grid-column: 2 / -1; }

.TimeLine {
  justify-self: center; }

.TimeLine:first-child {
  color: white; }

.Content {
  margin: 0; }

.MetallurgySection {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 10px; }

.visible {
  display: initial; }
