* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: inherit; }

.Body {
  padding: 2rem; }

.Heading {
  font-size: 1.5rem; }

.SubHeading {
  font-size: 1.1rem; }

.Article {
  font-size: 1.1rem; }

.Bold {
  font-weight: 700; }

.Section {
  border: 1px solid black;
  margin: 20px;
  padding: 10px; }

.SubHeading:first-child {
  font-size: 1.3rem; }
