* {
  box-sizing: border-box; }

*:after, *:before {
  box-sizing: inherit; }

.Body {
  margin: 0; }

.Header {
  background-color: #0000c8;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.Heading {
  font-size: 1.5rem;
  color: white;
  margin: 0 1.5rem; }

.Main {
  margin: 1rem 2rem; }

.Frage {
  display: block; }
