<div class="Left">
	<img class="Beer" src="images/beer.svg">
	<h2 class="Slogan">Plan your activities and control your progress online</h2>
	<div class="ImageWrapper">
		<img class="Rocket" src="/images/rocket-start.svg">
		<img class="X X1" src="images/x.svg">
		<img class="X X2" src="images/x.svg">
		<img class="X X3" src="images/x.svg">
		<img class="X X4" src="images/x.svg">
		<img class="X X5" src="images/x.svg">
		<img class="X X6" src="images/x.svg">
		<img class="X X7" src="images/x.svg">
		<img class="X X8" src="images/x.svg">
		<img class="X X9" src="images/x.svg">
		<img class="X X10" src="images/x.svg">
	</div>
	<div class="Slide">
		<div class="SlideButton"></div>
		<div class="SlideButton"></div>
		<div class="SlideButton SelectedSlideButton"></div>
		<div class="SlideButton"></div>
		<div class="SlideButton"></div>
	</div>	
</div>
<div class=" Right">
	<div class="Options">
		<a href="#" class="SwitchButton SignInButton">Sign In</a>
		<a href="#" class="SwitchButton SignUpButton">Sign Up</a> 
	</div>
	<form class="Form" action="#" method="#">
		<a href="#" class="SwitchText SignIn">Sign In</a>
		<span class="Or">or</span>
		<a href="#" class="SwitchText SignUp">Sign Up</a>
		
		<label for="name" class="Label NameLabel">Full Name</label>
		<input type="text" class="Input NameInput" id="name" placeholder="Enter your full name">
		
		<label for="password" class="Label PasswordLabel">Password</label>
		<input type="password" class="Input PasswordInput" id="password" placeholder="Enter your password">
		
		<label for="password" class="Label EmailLabel">E-Mail</label>
		<input type="email" class="Input EmailInput" placeholder="Your e-mail goes here">
		
		<input type="checkbox" class="Input CheckboxInput" id="checkbox">
		<label for="checkbox" class="AgreementText">I agree all statements in <span class="Underline">terms of service</span></label>
		<input type="submit" class="SignUpButton InputSignUpButton" value="Sign Up">
		<a href="#" class="Underline AlreadyMember ">I'm already member</a>
	</form> 
</div>