* {
	box-sizing: border-box;
}
*:after, *:before {
	box-sizing: border-box;
}
body {
 	
 	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.FlexCenter {
	display:flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: silver;
	text-transform: uppercase;
}
.Header {
	height:5rem;
}
.HeroImage {
	height:18rem;
	margin-top: 1rem;
}
.Galerie {
	margin:1rem 0;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.Post {
	width:33%;
	background-color: rgba(200,0,0,.2);
	display:flex;
	position:relative;
}
.PostWrapper {
	padding:5px;

}
.Rating {
	margin-bottom: 5px;
	background-color: rgba(200,0,0,.15);
	background-image: url(http://www.iconsdb.com/icons/preview/black/star-xxl.png);
	background-size: contain;
	background-repeat: space;
	width:65px;
	display:inline-block;
	height:12px;

}
.Rating:after {
	content:"(3)";
	font-size: 12px;
	margin-left: 65px;

}

.Heading {
	font-size:16px;
	width:120px;
	margin:0px 0;
}
.Preview {
	font-size:12px;
	width:145px;
	margin:2px;
}
.PostDetail {
	font-size: 12px;
	margin:8px 0;
	font-size:10px;
}
.bold {
	color:grey;
	text-transform: uppercase;
	font-weight:600;
}
.Date {
	font-weight: 600;
	margin-left:5px;
}

.Image {
	height:60px;
	width:100px;
	margin:8px;
	background-color:rgba(200,0,0,.15);
}
.Long {
	width:49.5%;
	margin-top:.5rem;
	background-color: rgba(0,0,200,.2);

}
.Long .Heading {
	width:unset;
}
.Long .Preview {
	width:215px;
}
.Long .Image {
	height:80px;
}
.Footer {
	height:7rem;

}
@media screen and (max-width:720px) {
	.Short {
		flex-direction: column;
	}
	.Short .Image {
		width:96%;
		margin:2%;
		height:100px;
	}
	.Short .Heading {
		width:150px;
	}
	.Short .PostWrapper {
		display:flex;
		flex-direction: column;
	}
	.Short .Rating {
		order:5;
		position:absolute;
		right:20px;
		bottom:20px;
	}
	.Short .Date {
		display:block;
		margin:0;
	}
	.Long .Heading {
		width: 120px;

	}
	.Long .Preview {
		width:145px;
	}
}
@media screen and (max-width:350px) {
	.Galerie {
		display:flex;
		flex-direction: column;
		padding:20px;
	}
	.Post {
		width:unset;
		margin:5px;
	}
	.Image {
		height:200px;
	}
	.Heading {

	}
	.Long {
		display:none;
	}

}