<div class="Background">
	<image class="FrameIcon" src="./images/FrameIcon.png">
	<form class="Form" method="Post" action="">
		<h2 class="FormHeading">Sign In to your Collection</h2>
		<input class="Input Email" type="email" placeholder="E-mail Address">
		<input class="Input Password" type="password" placeholder="Password">
		<input class="Input Submit" type="submit" value="Sign in">
		<a href="#" class="ForgotPassword">forgot password?</a>
	</form>
</div>