* {
	box-sizing: border-box;
}
*:before, *:after {
	box-sizing: inherit;
}
body {
	height: 100vh;
	color:white;
	font-family:sans-serif;
	
	margin:0;
	text-align: center;
	background-image: url(http://previews.123rf.com/images/unkreatives/unkreatives1410/unkreatives141000056/32561494-departing-plane-in-the-sun-seen-from-below-Stock-Photo.jpg);
	background-position:70%;
	background-size:cover;
	display:flex;
	flex-direction: column;	
 	
 	justify-content:center;
}
.fa-globe {
	text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}	
.Form { 

 	width:80vw;
 	margin:0 auto;
 }
.formHeader {
	font-size:2rem;
	text-transform: uppercase;
	font-weight:600;
	text-shadow:1px 1px 1px rgba(0,0,0,.2);
	margin:5px 0 20px 0;

	width:100%;

}
::-webkit-input-placeholder {
	color:white;
}
input {
	width:100%;
	margin-top:15px;
	background:transparent;
	color:white;
	border:none;
	border-bottom:1px solid white;
	padding-left: 5px;
}
.Submit {
	padding-left: 0;
	margin-top:35px;
	background-color:white;
	color:#e3c8bc;
	height:30px;
	font-weight: 600;
	text-shadow:1px 1px 1px rgba(0,0,0,.2);
	border:0;
	box-shadow:2px 3px 15px rgba(0,0,0,.3);
}
p {
	margin-top:30px;
}
a {
	text-shadow:1px 1px 1px rgba(0,0,0,.2);
	color:white;
	margin:2px;
	font-size:12px;
}
.Terms {
	border-left:1px solid white;
	padding-left: 5px;
}





